/* *** LIVECHAT *** */

#chatContainer[class~=lc-max] {
	width: calc(400px - 16px);
	height: calc(450px - 16px);
	opacity: 1;
	visibility: visible;
	z-index: 2147483639;
	position: fixed;
	bottom: 0px;
	max-width: 100%;
	max-height: 100%;
	min-height: 0px;
	min-width: 0px;
	background-color: transparent;
	border: 0px;
	overflow: hidden;
	right: 80px;
	transition: all 0.5s ease 0s !important;
}

#chatContainer[class~=lc-min] {
	width: 80px;
	height: 80px;
	opacity: 1;
	visibility: visible;
	z-index: 2147483639;
	position: fixed;
	bottom: 0px;
	max-width: 80px;
	max-height: 80px;
	min-height: 0px;
	min-width: 0px;
	background-color: transparent;
	border: 0px;
	overflow: hidden;
	right: 80px;
	transition: all 0.5s ease 0s !important;
}

#chatMinimise {
	top: 16px;
	right: 32px;
	height: 46px;
	width: calc(100% - 100px);
	position: absolute;
	background: transparent;
	cursor: pointer;
}

.lc-svg {
	fill: #ffffff;
	display: block;
	color: #ffffff;
}

body.category-9 #chatBubble {
	background-color: #f2b81e;
}

body.category-5 #chatBubble {
	background-color: #1696ec;
}

body.category-41 #chatBubble {
	background-color: #1696ec;
}

body.category-44 #chatBubble {
	background-color: #ec2262;
}

body.category-45 #chatBubble {
	background-color: #1696ec;
}

body.category-46 #chatBubble {
	background-color: #1696ec;
}

#chatBubble[class~=lc-max] {
	width: 60px;
	height: 60px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 8px;
	border-radius: 50%;
	-moz-box-pack: center;
	justify-content: center;
	position: fixed;
	right: 80px;
	bottom: 0px;
	margin: 16px 0px;
	transition: all 0.2s ease 0.5s !important;
	cursor: pointer;
}

#chatBubble[class~=lc-min] {
	width: 0px;
	height: 0px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 8px;
	border-radius: 50%;
	-moz-box-pack: center;
	justify-content: center;
	position: fixed;
	right: 80px;
	bottom: 0px;
	margin: 0px;
	transition: all 0.5s ease 0s !important;
}

#chatIframe[class~=lc-max] {
	width: inherit;
	height: inherit;
	margin: 0px;
	padding: 0px;
	background-image: none;
	background-position: 0% 0%;
	background-size: initial;
	background-attachment: scroll;
	background-origin: initial;
	background-clip: initial;
	background-color: rgba(0, 0, 0, 0);
	border-width: 0px;
	float: none;
	bottom: 0px;
	right: 0px;
	transition: all 0.2s ease 0s !important;
}

#chatIframe[class~=lc-min] {
	width: 0px;
	height: 0px;
	margin: 0px;
	padding: 0px;
	background-image: none;
	background-position: 0% 0%;
	background-size: initial;
	background-attachment: scroll;
	background-origin: initial;
	background-clip: initial;
	background-color: rgba(0, 0, 0, 0);
	border-width: 0px;
	float: none;
	bottom: 0px;
	right: 0px;
	transition: all 0.5s ease 0s !important;
}

/* END */

div.panel {
	padding: 15px;
	text-align: justify;
	display: none;
}
div.flip {
	padding: 5px;
	text-align: center;
	margin: 10px 0;
	background: rgba( 204, 132, 10, 0.5 );
	background: -webkit-linear-gradient( to bottom left, rgba(242, 184, 30, 0.5), rgba(204, 132, 10, 0.5) );
	background: linear-gradient( to bottom left, rgba(242, 184, 30, 0.5), rgba(204, 132, 10, 0.5) );
}
div.flip:hover {
	background: rgba( 204, 132, 10, 1 );
	background: -webkit-linear-gradient( to bottom left, rgba(242, 184, 30, 1), rgba(204, 132, 10, 1) );
	background: linear-gradient( to bottom left, rgba(242, 184, 30, 1), rgba(204, 132, 10, 1) );
}
img.panelIcon {
	height: 16px;
	width: 16px;
}
a.popupLink:hover {
	text-decoration: underline;
	cursor: pointer;
}
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.9);
	margin: 0;
}
.modal-content {
	margin: auto;
	display: block;
	width: 75%;
	height: 75%;
	min-width: 640px;
	min-height: 360px;
	border: none;
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
	from { -webkit-transform:scale(0) }
	to { -webkit-transform:scale(1) } 
}
@keyframes zoom {
	from { transform:scale(0) }
	to { transform:scale(1) }
}
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}
.close:hover, .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}
@media only screen and (max-width: 700px) {
	.modal-content { width: 100%;}
}

td.vidCell {
	padding: 0 8px 0 0;
	border: none;
	vertical-align: bottom;
	font-size: 1em;
	font-family: Mont,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

table.vidContainer tr {
	font-size: 1em;
}

table.vidContainer {
	margin: 0;
	font-size: 1em;
}

td.hasevent.calendar_event_course {
	font-weight: 900;
}

/* ***** MAJOR MOODLE RESTYLE AND IMPROVEMENT ***** */
/* General Site-Wide */
::selection {
	background: #7b1ce9;
	color: #ffffff;
	text-shadow: none;
}
body {
	position: relative;
	min-height: 100vh;
}
html {
	background: #ffffff;
}
.container-fluid {
	background: #2c2c36;
}
html, body, h1, h2, h3, h4, h5, h6, a, div, span, p, ul, li, header, footer, nav, section, aside, button, input, textarea, option, optgroup, select, table, td, tr, th, strong, b, ins, i, img, em, label, dl, dt, dd, legend, fieldset {
	font-family: Mont, "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 2em;
}
pre, code, pre span {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
body, h1, h2, h3, h4, h5, h6, p {
	color: #2c2c36;
}
a, a:link, a:visited {
	color: rgba(44,44,54,0.7);
}
#notice.box.generalbox {
	text-align: center;
	padding: 0.4em 1em;
	background: #aaaab4;
	color: #000000;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
#notice.box.generalbox p {
	color: #000000;
}
#page-content .box.generalbox.adminwarning {
	background: none;
	border: none;
	color: #2c2c36;
}
.alert {
	border-radius: 2px;
	border: none;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
img.iconhelp, .helplink img {
	padding: 0.1em;
	vertical-align: text-top;
}
.moodle-dialogue-base .moodle-dialogue-wrap {
	border: none;
}
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd, .moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd.yui3-widget-hd, .moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd h1 {
	color: #ffffff;
}
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd, .moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd.yui3-widget-hd {
	background: #7b1ce9;
	border: none;
}
.moodle-dialogue-base .closebutton {
	background: url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/icons/white/cross.svg) center/contain no-repeat !important;
	height: 2em;
	width: 2em;
	margin: 0.3em;
	box-shadow: none;
}
span.error span.error {
	display: inline;
	border: none;
	font-weight: 600;
	background: none;
	padding: 0;
	margin: 0;
}
.userprofile .profile_tree section.node_category {
	border: none;
}
/* Login Page */
#page-login-index #region-main {
	background: #1548e0 url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/backgrounds/login_1.png) center/cover no-repeat;
	position: absolute;
	z-index: 12345;
	top: 0;
	height: 100%;
}
#page-login-index span#maincontent {
	height: 0px;
}
div.loginbox {
	margin: 25vh 0 0 55vw;
	border: none;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.loginbox .loginform .form-label {
	padding: 0;
	width: 25%;
}
.loginbox .loginform .form-input {
	width: 70%;
}
.loginbox .loginform .form-input input {
	width: 90%;
}
form[action="https://upskilledtest30.androgogic.com.au/login/forgot_password.php"] legend, #page-login-forgot_password div[role="main"] > div, form[action="https://upskilledtest30.androgogic.com.au/login/forgot_password.php"] .fitemtitle {
	text-align: center;
}
form[action="https://upskilledtest30.androgogic.com.au/login/forgot_password.php"] .fcontainer {
	margin-left: 36%;
}
form[action="https://upskilledtest30.androgogic.com.au/login/forgot_password.php"] input[type="text"] {
	width: 20em;
}
form[action="https://upskilledtest30.androgogic.com.au/login/forgot_password.php"] .felement.ftext, form[action="https://upskilledtest30.androgogic.com.au/login/forgot_password.php"] .felement.fsubmit {
	float: left;
}
/* Top Navbar */
header.navbar.navbar-fixed-top {
	background: -webkit-linear-gradient(190deg, #7b1ce9 0%, #1548e0 100%);
	background: linear-gradient(190deg, #7b1ce9 0%, #1548e0 100%);
}
#page-header, div#page-header-wrapper, header.navbar > nav.navbar-inner, div#page-navbar, div#page-navbar-wrapper, header nav .container-fluid {
	background: none !important;
	border: none;
	box-shadow: none;
}
#page-navbar nav.breadcrumb-nav, .navbar-text {
	padding: 0;
}
#page-navbar div.breadcrumb-button {
	padding: 0 12px 0 0;
	margin: 0;
}
ul.breadcrumb, ul.breadcrumb a {
	color: #ffffff;
}
nav.breadcrumb-nav ul.breadcrumb {
	padding: 0 0 0 12px;
}
#page-navbar ul.breadcrumb a.dimmed_text {
	color: #f6f6fa;
}
#page-navbar .singlebutton input {
	color: #2c2c36;
	background: #ffffff !important;
	border-radius: 2px;
	border: 2px solid #ffffff;
	padding: 0.6em 1.2em;
	font-weight: 600;
	font-size: 16px;
	line-height: 1em;
	box-shadow: none;
	transition: all ease-in-out 0.2s;
}
#page-navbar .singlebutton input:hover {
	border-radius: 0;
	border: 2px solid #2c2c36;
}
.dir-ltr .usermenu{
	background: none;
}
.usermenu .login {
	color: #ffffff;
}
.usermenu .login a {
	color: #4ADCB0;
}
header.navbar .usermenu .moodle-actionmenu .toggle-display {
	color: #f6f6fa;
}
header.navbar nav.navbar-inner .usermenu .moodle-actionmenu.show ul.menu.align-tr-br {
	padding: 0;
	margin: 0;
	border: none;
}
.jsenabled .usermenu .moodle-actionmenu.show .menu a:hover {
	background: #1696ec;
}
header.navbar .usermenu ul.menu.align-tr-br .filler {
	margin: 4px 1px;
	border: none;
}
nav.navbar-inner {
	border-bottom: none !important;
	box-shadow: none;
}
div#page-navbar {
	border: none;
	padding-bottom: 12px;
}
.bannertext img, .logounit img {
	width: 205px;
	height: 33px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/text_logo_mont.png) left top no-repeat;
	padding-left: 205px;
}
#page-user-profile .page-context-header {
	background: #ffffff;
}
#page-mod-quiz-attempt .nav .navbar-text {
	color: #ffffff;
}
/* Calendar */
.block_calendar_month.block .content, .block_calendar_month.block .content .calendar-controls, .minicalendar.calendartable tr.weekdays, .minicalendar.calendartable td.day {
	background: none;
}
.maincalendar .calendarmonth th, .block .minicalendar th, .block .minicalendar td, .block .minicalendar th abbr[title], .minicalendar.calendartable td.day, .minicalendar.calendartable td.dayblank {
	border: none;
}
.block_calendar_month.block .content {
	padding: 0;
}
.block_calendar_month .content .calendar-controls a {
	color: #1548e0;
}
.minicalendar.calendartable td.day, .minicalendar.calendartable tr.weekdays {
	color: #2c2c36;
}
.minicalendar.calendartable td.weekend.day {
	color: #aaaab4;
}
.block_calendar_month.block .minicalendar td.today, .block .minicalendar td.today {
	background: #1548e0;
	border-radius: 4px;
}
div.upskilled_news_date .month, div.upskilled_news_date .day {
	line-height: 1em;
}
a.ical-link, a.ical-link:link, a.ical-link:visited {
	color: #ffffff;
	font-size: 12px;
	font-weight: 600;
	background: #7b1ce9;
	padding: 0.1em 0.5em;
	border: 2px solid #ffffff;
	transition: all ease-in-out 0.2s;
}
a.ical-link:hover {
	border: 2px solid #7b1ce9;
}
.path-calendar .maincalendar .calendarmonth td {
	height: 7em;
}
/* Blocks */
.block .header {
	border: none;
}
.block .header .block_action {
	float: right;
	padding: 4px;
}
.block .header .title {
	border: none;
}
.block .header .title h2 {
	border: none;
	background: none;
	color: #1548e0;
	font-size: 1.3em;
	padding: 8px 10px;
}
.block .header .block_action img, .block .header .block_action input {
	border: none;
}
div.block div.content {
	border: none !important;
	/* background: #f6f6fa; */
	background: #ffffff;
	color: #2c2c36;
}
div.block, .collapsibleregioncaption {
	background: none;
}
.block .header .block_action > img.block-hider-hide, .block .header .block_action > .block-hider-show, .block .header .block_action input.moveto.customcommand.requiresjs, body.has_dock div#dock div.controls img[alt="Undock all"], body.has_dock div#dock .dockeditempanel_content.block .dockeditempanel_hd .hidepanelicon img, body.has_dock  div#dock .dockeditempanel_content.block .dockeditempanel_hd .moveto.customcommand.requiresjs img {
	max-width: 24px;
	width: 24px;
	height: 24px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0 4px 0 28px;
}
.block_navigation .header .block_action {
	padding-top: 6px;
}
.block .header .block_action > img.block-hider-hide {
	background: url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/icons/blue/minus.svg) 4px top/contain no-repeat;
}
.block .header .block_action > .block-hider-show {
	background: url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/icons/blue/plus.svg) 4px top/contain no-repeat;
}
.block .header .block_action input.moveto.customcommand.requiresjs {
	background: url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/icons/blue/left.svg) 4px top/contain no-repeat;
}
body.has_dock div#dock div.controls img[alt="Undock all"] {
	background: url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/icons/white/right.svg) 4px top/contain no-repeat;
}
body.has_dock div#dock .dockeditempanel_content.block .dockeditempanel_hd .hidepanelicon img {
	background: url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/icons/blue/cross.svg) 4px top/contain no-repeat;
}
body.has_dock  div#dock .dockeditempanel_content.block .dockeditempanel_hd .moveto.customcommand.requiresjs img {
	background: url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/icons/blue/right.svg) 4px top/contain no-repeat;
}
body.has_dock #page {
	padding: 0;
}
body.has_dock div#dock {
	background: #1548e0;
}
body.has_dock div#dock div.dockedtitle {
	background: #ffffff !important;
	border: none;
	box-shadow: none;
	transition: all ease-in-out 0.2s;
}
body.has_dock div#dock div.dockedtitle:hover {
	background: #7B1CE9 !important;
}
body.has_dock div#dock div.dockedtitle h2 {
	color: #2c2c36;
	font-family: Mont, "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 2em;
	font-weight: normal;
	transition: all ease-in-out 0.2s;
}
body.has_dock div#dock div.dockedtitle:hover h2 {
	color: #ffffff;
}
body.has_dock div#dock .dockeditempanel_content.block {
	background: #ffffff;
	border: none;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	display: inline-block;
	min-width: 15vw;
}
body.has_dock div#dock .dockeditempanel_content.block .dockeditempanel_hd {
	border: none;
}
body.has_dock div#dock .dockeditempanel_content.block .dockeditempanel_hd .commands {
	margin: -6px -6px 0 0;
}
body.has_dock div#dock .dockeditempanel_content.block .dockeditempanel_hd h2 {
	border: none;
	background: none;
	color: #1548e0;
	font-size: 1.3em;
}
body.has_dock div#dock .dockeditempanel_content.block .dockeditempanel_bd {
	float: left;
	background: none;
}
.block_navigation .block_tree li.depth_3 ul li, .block_navigation .block_tree li.depth_3 ul ul li, .block_navigation .block_tree li.depth_3:hover {
	background: #f6f6fa;
}
aside#block-region-side-pre .block_navigation .block_tree li.depth_3 ul li a:link, aside#block-region-side-pre .block_navigation .block_tree li.depth_3 ul ul li a:link, aside#block-region-side-pre .block_navigation .block_tree li.depth_3:hover a:link, aside#block-region-side-pre .block_navigation .block_tree li.depth_3 ul li:hover a:link, aside#block-region-side-pre .block_navigation .block_tree li.depth_3:hover a:visited, aside#block-region-side-pre .block_navigation .block_tree li.depth_3 ul ul li a:visited,.block_navigation .block_tree li.depth_3 ul li a:visited {
	color: #2c2c36 !important;
}
a span:hover {
	text-decoration: underline;
}
aside#block-region-side-pre .block_navigation .block_tree li.depth_1:first-child {
	border: none;
}
.block_settings .block_tree li.item_with_icon > p img {
	top: 0.4em;
}
.jsenabled .block_settings .block_tree .tree_item.branch{
	background-position-y: 0.4em;
}
.block_navigation .dimmed_text {
	color: #aaaab4;
}
.block .moodle-actionmenu.block-control-actions.commands {
	border: none;
}
.block .header .title h2, .block h3.main, .block_navigation .block_tree li {
	font-weight: normal;
}
div.block.block_engagement div.trafficlight {
    background-size: cover;
	width: 1em;
	height: 1em;
	left: 0;
	top: 0.5em;
}
.block_myprofile .myprofileitem.fullname {
	font-size: 1.1em;
	font-weight: 600;
}
.block_settings .title h2::before {
	vertical-align: top;
}
.block_course_overview.block div.box.coursebox h2.title {
	font-weight: 600;
}
/* Page Content and Layout */
#page {
    padding: 0;
}
section#region-main {
	min-height: 73.5vh;
	padding-top: 10px;
}
aside#block-region-side-pre {
	/* background-color: #f6f6fa; */
	background-color: #ffffff;
	flex: 1;
	order: 1;
	padding-top: 8px;
}
section#region-main, .course-content ul li.section.main {
	background-color: #ffffff;
	flex: 5;
	order: 2;
}
aside#block-region-side-post {
	/* background-color: #f6f6fa; */
	background-color: #ffffff;
	padding-top: 8px;
}
div#page-content {
	display: flex;
}
div#region-bs-main-and-pre {
	display: flex;
}
div#region-bs-main-and-pre > div.row-fluid {
	display: flex;
}
#page-site-index .forumolddiscuss {
	background: none;
}
#region-main input[type="submit"], input[type="submit"]:not([id|="rubric"]), input[type="button"], aside#block-region-side-pre input[type="submit"], aside#block-region-side-post input[type="submit"], button, #notice .singlebutton + .singlebutton input[type="submit"], .capabilitysearchui input[type="button"] {
	background: #4ADCB0 !important;
	font-weight: 600;
	font-size: 1.2em;
	color: #ffffff;
	border-radius: 4px;
	/* border: 2px solid #f6f6fa; */
	border: 2px solid #ffffff;
	box-shadow: none;
	padding: 0.6em 1.2em;
	transition: all ease-in-out 0.2s;
}
div.editor_atto_toolbar button, div[id^="wistia"] button {
	background: none !important;
}
aside#block-region-side-post button {
	padding: 0.2em 1.2em;
}
.enrolpanel.roleassign.visible input[type="button"] {
	font-size: 1em;
	padding: 0.6em 1.2em;
}
#rubric-rubric.gradingform_rubric .criterion.even input, #rubric-rubric.gradingform_rubric #rubric-criteria .criterion.even .addlevel input, .moodle-dialogue-wrap.moodle-dialogue-content .choosercontainer #chooseform .submitbuttons input[type="submit"] {
	border: 2px solid #f6f6fa;
}
#notice input[type="submit"], #notice .singlebutton + .singlebutton input[type="submit"] {
	border: 2px solid #aaaab4;
	margin: 0;
}
#rubric-rubric.gradingform_rubric .addcriterion {
	background: none;
	border: none;
	box-shadow: none;
}
.gradingform_rubric {
	max-width: none;
}
.gradingform_rubric .criterion {
	border: none;
}
.gradingform_rubric .criterion.even {
	background: #f6f6fa;
}
.gradingform_rubric .criterion.odd {
	background: #ffffff;
}
.mform .fitem div.fitemtitle {
	width: auto;
	min-width: 15%;
}
.mform .fitem .felement {
	float: inline-start;
}
.mform .fitem .felement:first-child {
	margin-left: 15%;
}
input, select {
	margin-right: 4px;
}
#page-blocks-configurable_reports-editreport .editor_atto_wrap {
	width: 74%;
	float: inline-start;
}
table#advancedgrading-criteria textarea[cols] {
	width: 300px;
}
#rubric-rubric.gradingform_rubric .addcriterion input, #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel input, #guide-guide.gradingform_guide.editor .addcriterion input, #guide-guide.gradingform_guide.editor .addcomment input {
	font-size: 1em;
	color: #ffffff;
	height: auto;
	padding: 0.1em 0.5em;
	border: 2px solid #ffffff;
	box-shadow: none;
}
#region-main input[type="submit"]:disabled, aside#block-region-side-pre input[type="submit"]:disabled, aside#block-region-side-post input[type="submit"]:disabled, input[type="button"]:disabled, .fitem.disabled .fp-btn-choose, .moodle-dialogue-wrap.moodle-dialogue-content .choosercontainer #chooseform .submitbuttons input[type="submit"]:disabled {
	color: #2c2c36;
	border: 2px solid #4ADCB0;
}
#region-main input[type="submit"]:hover, input[type="submit"]:not([id|="rubric"]):hover, input[type="button"]:hover, aside#block-region-side-pre input[type="submit"]:hover, aside#block-region-side-post input[type="submit"]:hover, button:hover, .enrolpanel.roleassign.visible input[type="button"]:hover, #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel input:hover, #guide-guide.gradingform_guide.editor .addcriterion input:hover, #guide-guide.gradingform_guide.editor .addcomment input:hover, #notice input[type="submit"]:hover, #notice .singlebutton + .singlebutton input[type="submit"]:hover, #rubric-rubric.gradingform_rubric .criterion.even input:hover, #rubric-rubric.gradingform_rubric #rubric-criteria .criterion.even .addlevel input:hover, .moodle-dialogue-wrap.moodle-dialogue-content .choosercontainer #chooseform .submitbuttons input[type="submit"]:hover {
	color: #ffffff;
	background: #4ADCB0 !important;
	border-radius: 0;
	border: 2px solid #4ADCB0;
}
div.editor_atto_toolbar button:hover {
	background: rgba(170, 170, 180, 0.5) radial-gradient(ellipse at center, #fff 60%, rgba(170, 170, 180, 0.5) 100%) !important;
}
#region-main input[type="submit"]:hover:disabled, aside#block-region-side-pre input[type="submit"]:hover:disabled, aside#block-region-side-post input[type="submit"]:hover:disabled, aside#block-region-side-post button:hover:disabled, .enrolpanel.roleassign.visible input[type="button"]:hover:disabled, input[type="button"]:hover:disabled, .fitem.disabled .fp-btn-choose:hover, .moodle-dialogue-wrap.moodle-dialogue-content .choosercontainer #chooseform .submitbuttons input[type="submit"]:hover:disabled {
	background: #4ADCB0 !important;
	color: #2c2c36;
	border-radius: 2px;
	border: 2px solid #4ADCB0;
}
#rubric-rubric.gradingform_rubric.editor .moveup input, #rubric-rubric.gradingform_rubric.editor .moveup input:hover {
	background: #4ADCB0 url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/icons/white/up.svg) center/1em no-repeat !important;
	width: auto;
	height: auto;
	padding: 0.2em 0.8em;
}
#rubric-rubric.gradingform_rubric.editor .movedown input, #rubric-rubric.gradingform_rubric.editor .movedown input:hover {
	background: #4ADCB0 url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/icons/white/down.svg) center/1em no-repeat !important;
	width: auto;
	height: auto;
	padding: 0.2em 0.8em;
}
#rubric-rubric.gradingform_rubric.editor .delete input, #rubric-rubric.gradingform_rubric.editor .delete input:hover {
	background: #4ADCB0 url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/icons/white/cross.svg) center/1em no-repeat !important;
	width: auto;
	height: auto;
	padding: 0.2em 0.8em;
}
#rubric-rubric.gradingform_rubric.editor .duplicate input, #rubric-rubric.gradingform_rubric.editor .duplicate input:hover {
	background: #4ADCB0 url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/icons/white/copy.svg) center/1em no-repeat !important;
	width: auto;
	height: auto;
	padding: 0.2em 0.8em;
}
#rubric-rubric.gradingform_rubric .addcriterion input, #rubric-rubric.gradingform_rubric .addcriterion input:hover {
	background: #4ADCB0 url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/icons/white/plus.svg) 0.2em/2em 2em no-repeat !important;
	padding: 0.5em 0.5em 0.5em 2.5em;
}
aside#block-region-side-pre input[type="text"], aside#block-region-side-pre input#adminsearchquery, input#searchform_search, input#search {
	border: 1px solid #000000;
	box-shadow: none;
	border-radius: 16px;
	background: #ffffff url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/icons/blue/search.svg) no-repeat 6px center;
	background-size: 1.5em;
	padding-left: 32px;
	max-width: 100%;
	transition: all ease-in-out 0.2s;
}
a.linkbutton, #page-admin-tool-xmldb-index p.centerpara.buttons a, .userprofile a.btn[data-trigger^="core_message"] {
	height: auto;
	width: auto;
	text-decoration: none;
	text-align: center;
	background: #4ADCB0;
	font-weight: 600;
	font-size: 1rem;
	font-family: Mont, "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.5em;
	color: #ffffff;
	border-radius: 4px;
	border: 2px solid #ffffff;
	box-shadow: none;
	padding: 0.6em 1.2em;
	transition: all ease-in-out 0.2s;
}
#page-admin-tool-xmldb-index p.centerpara.buttons a {
	font-size: 1em;
	line-height: 3em;
}
.userprofile a.btn[data-trigger^="core_message"] img {
	max-width: 24px;
	width: 24px;
	height: 24px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0 4px 0 28px;
	background: url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/icons/white/msg.svg) 4px top/contain no-repeat;
}
.linkbutton:hover, #page-admin-tool-xmldb-index p.centerpara.buttons a:hover, .userprofile a.btn[data-trigger^="core_message"]:hover  {
	color: #ffffff;
	background: #4ADCB0;
	border: 2px solid #4ADCB0;
	border-radius: 0;
}
.userprofile a.btn[data-trigger^="core_message"]:hover span {
	text-decoration: none;
}
aside#block-region-side-pre input[type="text"]:hover, aside#block-region-side-pre input#adminsearchquery:hover, input#searchform_search:hover, input#search:hover, aside#block-region-side-pre input[type="text"]:focus, aside#block-region-side-pre input#adminsearchquery:focus, input#searchform_search:focus, input#search:focus {
	border-radius: 0px;
}
#rubric-rubric.gradingform_rubric {
	max-width: 100%;
}
#region-main hr, aside#block-region-side-pre hr {
	height: 0px;
	border: 1px solid #aaaab4;
	border-top: none;
}
#page-report-outline-user .mod-scorm .structlist > li {
	word-wrap: break-word;
}
table.flexible th, .generaltable th {
	font-weight: 600;
}
.nav-tabs > li > a {
	background: none;
	border: none;
	color: #1548e0;
	transition: all ease-in-out 0.2s;
	box-shadow: 0px -1px 1px rgba(0,0,0,0.3);
}
.nav-tabs > li > a:hover {
	background: #1696ec;
	border: none;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
	background: #1696ec !important;
	border: none;
	color: #ffffff;
}
.forumpost .row.header {
	background: #1548e0 -webkit-linear-gradient(190deg, #7b1ce9 0%, #1548e0 100%);
	background: #1548e0 linear-gradient(190deg, #7b1ce9 0%, #1548e0 100%);
	border: none;
	padding: 4px 0px;
}
.forumpost .row.header .topic {
	margin-left: 1em;
}
.forumpost .header a, .forumpost .header a:link {
	color: #ffffff;
}
.forumpost .header .upskilled_news_date {
	font-size: 14px;
	color: #7b1ce9;
	background-image: url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/newsdatebg_new.png);
}
.forumpost, .forumpost .content {
	border: none;
	background: none;
}
.forumpost {
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	margin-bottom: 2em;
}
table.flexible td, .generaltable td, .generaltable tr, .generaltable th {
	border: none;
}
table#explaincaps tbody > tr:nth-child(2n+1) > td, table#defineroletable tbody > tr:nth-child(2n+1) > td, table.grading-report tbody > tr:nth-child(2n+1) > td, table#listdirectories tbody > tr:nth-child(2n+1) > td, table.rolecaps tbody > tr:nth-child(2n+1) > td, table.userenrolment tbody > tr:nth-child(2n+1) > td, table#form tbody > tr:nth-child(2n+1) > td, form#movecourses table tbody > tr:nth-child(2n+1) > td, #page-admin-course-index .editcourse tbody > tr:nth-child(2n+1) > td, .forumheaderlist tbody > tr:nth-child(2n+1) > td, table.flexible tbody > tr:nth-child(2n+1) > td, .generaltable tbody > tr:nth-child(2n+1) > td, .path-mod-assign .gradingtable tr.unselectedrow:nth-child(2n+1) > td, table#explaincaps tbody > tr:nth-child(2n+1) > th, table#defineroletable tbody > tr:nth-child(2n+1) > th, table.grading-report tbody > tr:nth-child(2n+1) > th, table#listdirectories tbody > tr:nth-child(2n+1) > th, table.rolecaps tbody > tr:nth-child(2n+1) > th, table.userenrolment tbody > tr:nth-child(2n+1) > th, table#form tbody > tr:nth-child(2n+1) > th, form#movecourses table tbody > tr:nth-child(2n+1) > th, #page-admin-course-index .editcourse tbody > tr:nth-child(2n+1) > th, .forumheaderlist tbody > tr:nth-child(2n+1) > th, table.flexible tbody > tr:nth-child(2n+1) > th, .generaltable tbody > tr:nth-child(2n+1) > th, .user-enroller-panel .uep-search-results .users tbody tr:hover > td, .user-enroller-panel .uep-search-results .cohorts tbody tr:hover > td, table.grading-report tbody tr:hover > td, .forumheaderlist tbody tr:hover > td, .generaltable tbody tr:hover > td, table.flexible tbody tr:hover > td, .category_subcategories tbody tr:hover > td, table#modules tbody tr:hover > td, table#permissions tbody tr:hover > td, .user-enroller-panel .uep-search-results .users tbody tr:hover > th, .user-enroller-panel .uep-search-results .cohorts tbody tr:hover > th, table.grading-report tbody tr:hover > th, .forumheaderlist tbody tr:hover > th, .generaltable tbody tr:hover > th, table.flexible tbody tr:hover > th, .category_subcategories tbody tr:hover > th, table#modules tbody tr:hover > th, table#permissions tbody tr:hover > th {
	background: #f6f6fa;
}
.generaltable tbody > tr:nth-child(2n+1) > td[id^="rubric-criteria"].level {
	background: none;
}
.path-mod-assign div.submissionsummarytable table tbody tr td.c0 {
	width: auto;
	font-weight: 600;
}
.path-mod-assign td.submissionstatus, .path-mod-assign div.submissionstatus, .path-mod-assign a:link.submissionstatus {
	color: #2c2c36;
	background: none;
}
/* Footer */
.footnote.text-left {
	width: 50%;
}
footer div.social {
	display: none;
}
footer .footer_social-links {
	list-style: none;
	font-size: 0;
	line-height: 20px;
	text-align: left;
	padding: 0;
	margin: 0;
}
footer .footer_social-link-item {
	display: inline-block;
	height: 32px;
	vertical-align: middle;
	text-align: right;
}
footer .footer_social-link-item:hover {
	opacity: 0.8;
}
footer .footer_social-link-item:not(:first-child) {
	padding-left: 20px;
}
footer .footer_social-link-item svg {
	fill: #ffffff;
}
footer#page-footer {
	font-size: 0.8em;
	padding: 15px 0;
	border: none;
}
#footnotewrapper div.copyright a.footer_copyright-link {
	color: #aaaab4;
}
#page-footer, #page-footer p {
	color: #ffffff;
}
#page-footer {
	background: #2c2c36;
	position: absolute;
	bottom: -8em;
}
/* Course Specific */
#region-main .box.generalbox.info div.coursebox {
	border: none;
}
#region-main #notice ~ .continuebutton {
	margin-top: 1em;
}
select[multiple], select[size] {
	width: inherit;
}
select[multiple]#groups, select[size]#groups {
	height: 60vh;
}
#page-enrol-users #filterform {
	background: none;
	border: none;
	box-shadow: none;
}
.forumsearch {
	background: #ffffff;
	padding: 4px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	border-radius: 4px;
}
div#tileoutlinearea div.tileoutlinecontent {
	/* background: #2c2c36; */
	position: static;
	background: rgba(255,255,255,0.8) url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/rings.svg) no-repeat;
	background-size: 66%;
	background-position-x: 200%;
	background-position-y: bottom;
	padding-right: 40%;
	min-height: 280px;
}
body.category-5 div#tileoutlinearea div.tileoutlinecontent, body.category-41 div#tileoutlinearea div.tileoutlinecontent, body.category-45 div#tileoutlinearea div.tileoutlinecontent {
	background: rgba(255,255,255,0.8) url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/rings-light_blue.svg) no-repeat;
	background-size: 66%;
	background-position-x: 200%;
	background-position-y: bottom;
}
body.category-9 div#tileoutlinearea div.tileoutlinecontent {
	background: rgba(255,255,255,0.8) url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/rings-yellow.svg) no-repeat;
	background-size: 66%;
	background-position-x: 200%;
	background-position-y: bottom;
}
body.category-44 div#tileoutlinearea div.tileoutlinecontent {
	background: rgba(255,255,255,0.8) url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/rings-red.svg) no-repeat;
	background-size: 66%;
	background-position-x: 200%;
	background-position-y: bottom;
}
#tileoutlinetiles .tile {
	background: none;
	max-width: calc(100% / 3);
}
#tileoutlinetiles .tile a {
	border: none !important;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
#tileoutlinetiles .tile a:not([style*="background-image"]) {
	background: #ffffff url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/rings.svg) center 50px/100% no-repeat !important;
	transition: all ease-in-out 0.2s;
}
#tileoutlinetiles .tile a:not([style*="background-image"]):hover {
	background: #ffffff url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/rings.svg) center 0px/110% no-repeat !important;
}
body.category-5 #tileoutlinetiles .tile a:not([style*="background-image"]), body.category-41 #tileoutlinetiles .tile a:not([style*="background-image"]), body.category-45 #tileoutlinetiles .tile a:not([style*="background-image"]) {
	background: #ffffff url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/rings-light_blue.svg) center 50px/100% no-repeat !important;
}
body.category-5 #tileoutlinetiles .tile a:not([style*="background-image"]):hover, body.category-41 #tileoutlinetiles .tile a:not([style*="background-image"]):hover, body.category-45 #tileoutlinetiles .tile a:not([style*="background-image"]):hover {
	background: #ffffff url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/rings-light_blue.svg) center 0px/110% no-repeat !important;
}
body.category-9 #tileoutlinetiles .tile a:not([style*="background-image"]) {
	background: #ffffff url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/rings-yellow.svg) center 50px/100% no-repeat !important;
}
body.category-9 #tileoutlinetiles .tile a:not([style*="background-image"]):hover {
	background: #ffffff url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/rings-yellow.svg) center 0px/110% no-repeat !important;
}
body.category-44 div:not(.tilepreview) > #tileoutlinetiles {
	background: #ffffff url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/rings-red.svg) center/cover no-repeat !important;
}
body.category-44 #tileoutlinetiles .tile {
	background: none;
	border: solid 1.5em #fff;
	box-sizing: border-box;
	margin: 0px;
}
body.category-44 #tileoutlinetiles .tile a:not([style*="background-image"]) {
	background: #ffffff url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/rings-red.svg) center 50px/100% no-repeat !important;
}
body.category-44 #tileoutlinetiles .tile a:not([style*="background-image"]):hover {
	background: #ffffff url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/rings-red.svg) center 0px/110% no-repeat !important;
}
body.category-44 div.tiles ul#tileoutlinetiles li.tile a {
	border: solid 0px #fff !important;
	margin: 0;
	width: 100%;
	display: block;
}
body.category-44 div.tiles ul#tileoutlinetiles li.tile a:not([style*="background-image"]) {
	background: none !important;
}
body.category-44 div.tiles ul#tileoutlinetiles li.tile a:not([style*="background-image"]):hover {
	background: none !important;
}
body.category-44 #tileoutlinetiles .tile a .tiletopic {
	position: absolute;
}
div#tileoutlinearea.tileoutlinearea {
	padding: 0;
}
.tile span.tiletitle, .tiletitle, .tile a:hover .tiletitle, #tileoutlinearea h3.sectionname {
	font-family: inherit;
}
#tileoutlinearea h3.sectionname {
	color: #2c2c36 !important;
}
.tile span.tiletopic, .tile a:hover .tiletopic {
	border: none;
	border-radius: 2px;
	color: #ffffff;
	background: rgba(44,44,54,0.8);
	font-family: inherit;
	padding: .1em 0.6em;
	transition: all ease-in-out 0.2s;
}
.tiletopicnav ul li a {
	background: #7b1ce9;
	border: 2px solid #ffffff;
	color: #ffffff;
	border-radius: 2px;
	transition: all ease-in-out 0.2s;
}
.tiletopicnav ul li a:hover, .tiletopicnav ul li a.current {
	background: #ffffff;
	border: 2px solid #7b1ce9;
	color: #7b1ce9 !important;
}
body.category-5 .tiletopicnav ul li a, body.category-41 .tiletopicnav ul li a, body.category-45 .tiletopicnav ul li a {
	background: #1696ec;
	border: 2px solid #1696ec;
	color: #ffffff;
	border-radius: 2px;
	transition: all ease-in-out 0.2s;
}
body.category-5 .tiletopicnav ul li a:hover, body.category-5 .tiletopicnav ul li a.current, body.category-41 .tiletopicnav ul li a:hover, body.category-41 .tiletopicnav ul li a.current, body.category-45 .tiletopicnav ul li a:hover, body.category-45 .tiletopicnav ul li a.current {
	background: #ffffff;
	border: 2px solid #1696ec;
	color: #1696ec !important;
}
body.category-9 .tiletopicnav ul li a {
	background: #f2b81e;
	border: 2px solid #f2b81e;
	color: #ffffff;
	border-radius: 2px;
	transition: all ease-in-out 0.2s;
}
body.category-9 .tiletopicnav ul li a:hover, body.category-9 .tiletopicnav ul li a.current {
	background: #ffffff;
	border: 2px solid #f2b81e;
	color: #f2b81e !important;
}
body.category-44 .tiletopicnav ul li a {
	background: #ec2262;
	border: 2px solid #ec2262;
	color: #ffffff;
	border-radius: 2px;
	transition: all ease-in-out 0.2s;
}
body.category-44 .tiletopicnav ul li a:hover, body.category-44 .tiletopicnav ul li a.current {
	background: #ffffff;
	border: 2px solid #ec2262;
	color: #ec2262 !important;
}
#region-main .tiletopicnav ul li a.disabled {
	background: #aaaab4;
	border: 2px solid #aaaab4;
	color: #ffffff !important;
	border-radius: 2px;
}
div#tileoutlinearea a, div#tileoutlinearea a:link, div#tileoutlinearea a:visited  {
	color: #2c2c36;
}
.tileoutlinecontent h1, .tileoutlinecontent p, .tileoutlinecontent div {
	color: #2c2c36;
}
.tile a:hover .tiletopic {
	background: rgba(44,44,54,1); 
}
.section .activity .editing_move {
	z-index: 2;
}
.section .activity .autocompletion img {
	margin-right: 4px;
}
#page-mod-assign-view .submissionsummarytable img.expandsummaryicon {
	max-width: 24px;
	width: 24px;
	height: 24px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0 4px 0 28px;
	background: url('https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/icons/brand/Asset 28.png') 4px top/contain no-repeat;
}
#page-mod-assign-view .submissionsummarytable
div:not(.plugincontentsummary) img.expandsummaryicon {
	background: url('https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/icons/brand/Asset 29.png') 4px top/contain no-repeat;
}
.fitem.disabled .fp-btn-choose {
	opacity: 0.5;
}
.userlist .userinfobox {
	border: none;
}
#fitem_id_submissionstatement .fitemtitle label[for="id_submissionstatement"] {
	float: inline-end;
}
div.submitforgrading div.box.generalbox.submitconfirm {
	width: 68%;
	margin-left: calc(calc(100% - 68%) / 2);
}
div.submitforgrading div.box.generalbox.submitconfirm .fdescription.required {
	width: 55%;
}
#page-backup-import legend.ftoggler {
	border-bottom-color: #aaaab4;
}
#page-backup-import div.grouped_settings.section_level {
	background: none;
	border: none;
	border-bottom: 1px solid #aaaab4;
	box-shadow: none;
}
#page #intro.box.generalbox.boxaligncenter.boxwidthwide {
	background: none;
	box-shadow: none;
}
#page-mod-scorm-player div[role="main"] {
	width: 100%;
}
.path-course-view .completionprogress {
	height: 2em;
}
#page-enrol-manual-manage #assignform .roleassigntable #existingcell, #page-enrol-manual-manage #assignform .roleassigntable #buttonscell, #page-enrol-manual-manage #assignform .roleassigntable #potentialcell {
	background: none;
}
#page-enrol-users #filterform select {
	width: 11em;
}
#page-enrol-users .enrolpanel.roleassign.visible, #page-enrol-users .user-enroller-panel {
	background: none;
}
#page-enrol-users .user-enroller-panel {
	border: none;
}
#page-enrol-users .enrolpanel.roleassign.visible .container, #page-enrol-users .user-enroller-panel .uep-wrap {
	border: none;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
#page-enrol-users .enrolpanel.roleassign.visible .container .header, #page-enrol-users .user-enroller-panel .uep-wrap .uep-header.header {
	border-bottom: 1px solid #aaaab4;
}
#page-enrol-users .user-enroller-panel .uep-wrap .uep-header.header {
	background: none;
	border-radius: 8px 8px 0 0;
}
#page-enrol-users .enrolpanel.roleassign.visible .container .header h2, #page-enrol-users .user-enroller-panel .uep-wrap .uep-header.header h2 {
	font-size: 1em;
	font-weight: 600;
	color: #1548e0;
	text-align: center;
	margin: 0.5em 1em;
}
#page-enrol-users .enrolpanel.roleassign.visible .container .header .close, #page-enrol-users .user-enroller-panel .uep-wrap .uep-header.header .close {
	background: url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/icons/blue/cross.svg) top/contain no-repeat;
	opacity: 1;
	top: 0.3em;
}
#page-enrol-users .user-enroller-panel .uep-wrap .uep-header.header .close {
	top: 0.2em;
}
#page-enrol-users .user-enroller-panel .uep-wrap .uep-content {
	border: none;
	background: #f6f6fa;
}
#page-enrol-users .user-enroller-panel .uep-wrap .uep-content .uep-controls {
	border: none;
	background: none;
	text-align: center;
}
#page-enrol-users .user-enroller-panel .uep-wrap .uep-content .uep-controls .uep-searchoptions .collapsibleheading.active ~ .collapsiblearea {
	border: none;
	background: none;
}
#page-enrol-users .user-enroller-panel .uep-wrap .uep-content .uep-ajax-content .uep-search-results .totalusers {
	border: none;
	background: none;
	font-size: 0.9em;
	font-weight: 600;
	padding: 0.2em;
}
#page-enrol-users .user-enroller-panel .uep-wrap .uep-content .uep-ajax-content .uep-search-results .users .user {
	border: none;
	font-size: 0.8em;
}
#page-enrol-users .user-enroller-panel .uep-wrap .uep-content .uep-ajax-content .uep-search-results .users .user.odd {
	background: #ffffff;
}
#page-enrol-users .user-enroller-panel .uep-wrap .uep-content .uep-ajax-content .uep-search-results .users .user.even {
	background: none;
}
#page-enrol-users .user-enroller-panel .uep-wrap .uep-content .uep-ajax-content .uep-search-results .users .user .count {
	border: none;
	text-align: center;
	font-size: 0.8em;
	width: 2em;
	line-height: 4em;
	background: none;
	padding: 0.3em;
}
#page-enrol-users .user-enroller-panel .uep-wrap .uep-content .uep-ajax-content .uep-search-results .users .user .details {
	margin: 0.8em 0;
}
#page-enrol-users .user-enroller-panel .uep-wrap .uep-content .uep-ajax-content .uep-search-results .users .user.even .options input[type="button"] {
	border: 2px solid #f6f6fa;
}
#page-enrol-users .user-enroller-panel .uep-wrap .uep-content .uep-ajax-content .uep-search-results .users .user.even .options input[type="button"]:hover {
	border: 2px solid #4ADCB0;
}
#page-enrol-users .user-enroller-panel .uep-wrap .uep-content .uep-ajax-content .uep-search-results .uep-more-results {
	border: none;
	background: none;
}
#page-enrol-users .user-enroller-panel .uep-wrap .uep-footer {
	background: #f6f6fa;
	border-radius: 0 0 8px 8px;
}
#page-enrol-users .user-enroller-panel .uep-wrap .uep-footer #enrolusersearch {
	border: 1px solid #000000;
	box-shadow: none;
	border-radius: 16px;
	background: #ffffff url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/icons/blue/search.svg) no-repeat 6px center;
	background-size: 1.5em;
	padding-left: 32px;
	max-width: 100%;
	transition: all ease-in-out 0.2s;
}
#page-enrol-users .user-enroller-panel .uep-wrap .uep-footer #enrolusersearch:focus, #page-enrol-users .user-enroller-panel .uep-wrap .uep-footer #enrolusersearch:hover {
	border-radius: 0px;
}
#page-enrol-users .user-enroller-panel .uep-wrap .uep-footer #searchbtn, #page-enrol-users .user-enroller-panel .uep-wrap .uep-footer .close-button input[type="button"] {
	width: unset;
	border: 2px solid #f6f6fa;
}
#page-enrol-users .user-enroller-panel .uep-wrap .uep-footer #searchbtn:hover, #page-enrol-users .user-enroller-panel .uep-wrap .uep-footer .close-button input[type="button"]:hover {
	border: 2px solid #4ADCB0;
}
#page-mod-quiz-attempt #page {
	background: #ffffff;
}
#page-mod-quiz-attempt #page h1 {
	color: #2c2c36;
}
#page-mod-quiz-attempt .que .info {
	background: #f6f6fa;
	border: none;
}
#page-mod-quiz-attempt .que .info h3 {
	font-size: 1em;
}
#page-mod-quiz-attempt .content .formulation {
	border: none;
	background: rgba(22,150,236,0.1);
	color: #2c2c36;
}
.moodleSkin .mceToolbar .mceListBox .mceText {
	color: #2c2c36;
	font-family: Mont, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#page-mod-page-view {
	padding: 1em;
}
#page-mod-book-view #block-region-side-pre {
	border-right: 1px solid #aaaab4;
	margin: 1em 1em 1em 0em;
}
#page-mod-book-view .box.generalbox.book_content {
	border: none;
	padding: 0;
}
.moodle-dialogue-wrap.moodle-dialogue-content .moodle-dialogue-bd {
	background: #f6f6fa;
}
.moodle-dialogue-wrap.moodle-dialogue-content .choosercontainer #chooseform .options {
	border: none;
}
.moodle-dialogue-wrap.moodle-dialogue-content .choosercontainer #chooseform .alloptions {
	box-shadow: none;
	color: #2c2c36;
}
.moodle-dialogue-wrap.moodle-dialogue-content .choosercontainer #chooseform .alloptions .moduletypetitle .typename {
	font-weight: 600;
	color: #1548e0;
	font-size: 1em;
}
.moodle-dialogue-wrap.moodle-dialogue-content .choosercontainer #chooseform .alloptions .option.selected {
	box-shadow: none;
}
/* Quality of life improvement for SQL reports */
#reportslist th.header, #page-blocks-configurable_reports-viewreport #reporttable.generaltable th {
	background-color: #A65AFA;
	padding: 1em;
    line-height: 1em;
    vertical-align: middle !important;
    text-align: center !important;
    font-weight: 600;
    color: #fff;
    font-size: 1rem;
}
div.CodeMirror.cm-s-default {
	width: 67vw;
}
div#fitem_id_querysql div.felement.ftextarea {
	width: 100%;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
.CodeMirror .CodeMirror-code pre, .CodeMirror .CodeMirror-code pre span {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	line-height: 1em;
}
#page-blocks-configurable_reports-viewreport #id_submitbutton {
	margin-left: 232px;
}
#page-blocks-configurable_reports-viewreport #reporttable.generaltable {
	border: none;
}
#page-blocks-configurable_reports-viewreport #reporttable.generaltable th {
	background-color: #A65AFA;
	color: #ffffff;
	font-weight: 600;
}
/* Quality of life improvement for additional HTML settings */
#id_s__additionalhtmlhead, #id_s__additionalhtmltopofbody, #id_s__additionalhtmlfooter {
	width: 50vw;
	height: 33vh;
}
#id_s__additionalhtmlhead, #id_s__additionalhtmltopofbody, #id_s__additionalhtmlfooter, #id_s_theme_ups_customcss {
	line-height: 1em;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}