/* *** LIVECHAT *** */

#chatContainer[class~=lc-max] {
	width: calc(400px - 16px);
	height: calc(450px - 16px);
	opacity: 1;
	visibility: visible;
	z-index: 2147483639;
	position: fixed;
	bottom: 0px;
	max-width: 100%;
	max-height: 100%;
	min-height: 0px;
	min-width: 0px;
	background-color: transparent;
	border: 0px;
	overflow: hidden;
	right: 80px;
	transition: all 0.5s ease 0s !important;
}

#chatContainer[class~=lc-min] {
	width: 80px;
	height: 80px;
	opacity: 1;
	visibility: visible;
	z-index: 2147483639;
	position: fixed;
	bottom: 0px;
	max-width: 80px;
	max-height: 80px;
	min-height: 0px;
	min-width: 0px;
	background-color: transparent;
	border: 0px;
	overflow: hidden;
	right: 80px;
	transition: all 0.5s ease 0s !important;
}

#chatMinimise {
	top: 16px;
	right: 32px;
	height: 46px;
	width: calc(100% - 100px);
	position: absolute;
	background: transparent;
	cursor: pointer;
}

.lc-svg {
	fill: #ffffff;
	display: block;
	color: #ffffff;
}

body.category-9 #chatBubble {
	background-color: #f2b81e;
}

body.category-5 #chatBubble {
	background-color: #1696ec;
}

body.category-41 #chatBubble {
	background-color: #1696ec;
}

body.category-44 #chatBubble {
	background-color: #ec2262;
}

body.category-45 #chatBubble {
	background-color: #1696ec;
}

body.category-46 #chatBubble {
	background-color: #1696ec;
}

#chatBubble[class~=lc-max] {
	width: 60px;
	height: 60px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 8px;
	border-radius: 50%;
	-moz-box-pack: center;
	justify-content: center;
	position: fixed;
	right: 80px;
	bottom: 0px;
	margin: 16px 0px;
	transition: all 0.2s ease 0.5s !important;
	cursor: pointer;
}

#chatBubble[class~=lc-min] {
	width: 0px;
	height: 0px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 8px;
	border-radius: 50%;
	-moz-box-pack: center;
	justify-content: center;
	position: fixed;
	right: 80px;
	bottom: 0px;
	margin: 0px;
	transition: all 0.5s ease 0s !important;
}

#chatIframe[class~=lc-max] {
	width: inherit;
	height: inherit;
	margin: 0px;
	padding: 0px;
	background-image: none;
	background-position: 0% 0%;
	background-size: initial;
	background-attachment: scroll;
	background-origin: initial;
	background-clip: initial;
	background-color: rgba(0, 0, 0, 0);
	border-width: 0px;
	float: none;
	bottom: 0px;
	right: 0px;
	transition: all 0.2s ease 0s !important;
}

#chatIframe[class~=lc-min] {
	width: 0px;
	height: 0px;
	margin: 0px;
	padding: 0px;
	background-image: none;
	background-position: 0% 0%;
	background-size: initial;
	background-attachment: scroll;
	background-origin: initial;
	background-clip: initial;
	background-color: rgba(0, 0, 0, 0);
	border-width: 0px;
	float: none;
	bottom: 0px;
	right: 0px;
	transition: all 0.5s ease 0s !important;
}

/* END */

div.panel {
	padding: 15px;
	text-align: justify;
	display: none;
}
div.flip {
	padding: 5px;
	text-align: center;
	margin: 10px 0;
	background: rgba( 204, 132, 10, 0.5 );
	background: linear-gradient( to bottom left, rgba(242, 184, 30, 0.5), rgba(204, 132, 10, 0.5) );
}
div.flip:hover {
	background: rgba( 204, 132, 10, 1 );
	background: linear-gradient( to bottom left, rgba(242, 184, 30, 1), rgba(204, 132, 10, 1) );
}
img.panelIcon {
	height: 16px;
	width: 16px;
}
a.popupLink:hover {
	text-decoration: underline;
	cursor: pointer;
}
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.9);
	margin: 0;
}
.modal-content {
	margin: auto;
	display: block;
	width: 75%;
	height: 75%;
	min-width: 640px;
	min-height: 360px;
	border: none;
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
	from { -webkit-transform:scale(0) }
	to { -webkit-transform:scale(1) } 
}
@keyframes zoom {
	from { transform:scale(0) }
	to { transform:scale(1) }
}
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}
.close:hover, .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}
@media only screen and (max-width: 700px) {
	.modal-content { width: 100%;}
}

td.vidCell {
	padding: 0 8px 0 0;
	border: none;
	vertical-align: bottom;
	font-size: 1em;
	font-family: "Muli",Georgia,"Times New Roman",Times,serif;
}

table.vidContainer tr {
	font-size: 1em;
}

table.vidContainer {
	margin: 0;
	font-size: 1em;
}

div.tileoutlinecontent a, div.tileoutlinecontent a:link, div.tileoutlinecontent a:visited  {
	color: #ffffff;
}

td.hasevent.calendar_event_course {
	font-weight: 900;
}

.footnote.text-left {
	width: 50%;
}
footer div.social {
	display: none;
}
footer .footer_social-links {
    list-style: none;
    font-size: 0;
    line-height: 20px;
    text-align: center;
    padding: 0;
    margin: 0;
}
footer .footer_social-link-item {
    display: inline-block;
    height: 32px;
	vertical-align: middle;
	text-align: right;
}
footer .footer_social-link-item:hover {
    opacity: 0.8;
}
footer .footer_social-link-item:not(:first-child) {
	padding-left: 20px;
}
footer .footer_social-link-item svg {
    fill: #ffffff;
}
::selection {
    background: #7b1ce9;
    color: #ffffff;
    text-shadow: none;
}
div.copyright {
	content: "© Upskilled Pty Ltd 2020. All rights reserved. Terms & Conditions | Upskilled Policies |	RTO No 40374  |  ABN: 14 125 906 676";
}

/* Quality of life improvement for SQL reports */

div#fitem_id_querysql div.felement.ftextarea {
	width: 100%;
	max-width: 1440px;
}