/* *** LIVECHAT *** */

#chatContainer[class~=lc-max] {
	width: calc(400px - 16px);
	height: calc(450px - 16px);
	opacity: 1;
	visibility: visible;
	z-index: 2147483639;
	position: fixed;
	bottom: 0px;
	max-width: 100%;
	max-height: 100%;
	min-height: 0px;
	min-width: 0px;
	background-color: transparent;
	border: 0px;
	overflow: hidden;
	right: 80px;
	transition: all 0.5s ease 0s !important;
}

#chatContainer[class~=lc-min] {
	width: 80px;
	height: 80px;
	opacity: 1;
	visibility: visible;
	z-index: 2147483639;
	position: fixed;
	bottom: 0px;
	max-width: 80px;
	max-height: 80px;
	min-height: 0px;
	min-width: 0px;
	background-color: transparent;
	border: 0px;
	overflow: hidden;
	right: 80px;
	transition: all 0.5s ease 0s !important;
}

#chatMinimise {
	top: 16px;
	right: 32px;
	height: 46px;
	width: calc(100% - 100px);
	position: absolute;
	background: transparent;
	cursor: pointer;
}

.lc-svg {
	fill: #ffffff;
	display: block;
	color: #ffffff;
}

body.category-9 #chatBubble {
	background-color: #f2b81e;
}

body.category-5 #chatBubble {
	background-color: #1696ec;
}

body.category-41 #chatBubble {
	background-color: #1696ec;
}

body.category-44 #chatBubble {
	background-color: #ec2262;
}

body.category-45 #chatBubble {
	background-color: #1696ec;
}

body.category-46 #chatBubble {
	background-color: #1696ec;
}

#chatBubble[class~=lc-max] {
	width: 60px;
	height: 60px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 8px;
	border-radius: 50%;
	-moz-box-pack: center;
	justify-content: center;
	position: fixed;
	right: 80px;
	bottom: 0px;
	margin: 16px 0px;
	transition: all 0.2s ease 0.5s !important;
	cursor: pointer;
}

#chatBubble[class~=lc-min] {
	width: 0px;
	height: 0px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 8px;
	border-radius: 50%;
	-moz-box-pack: center;
	justify-content: center;
	position: fixed;
	right: 80px;
	bottom: 0px;
	margin: 0px;
	transition: all 0.5s ease 0s !important;
}

#chatIframe[class~=lc-max] {
	width: inherit;
	height: inherit;
	margin: 0px;
	padding: 0px;
	background-image: none;
	background-position: 0% 0%;
	background-size: initial;
	background-attachment: scroll;
	background-origin: initial;
	background-clip: initial;
	background-color: rgba(0, 0, 0, 0);
	border-width: 0px;
	float: none;
	bottom: 0px;
	right: 0px;
	transition: all 0.2s ease 0s !important;
}

#chatIframe[class~=lc-min] {
	width: 0px;
	height: 0px;
	margin: 0px;
	padding: 0px;
	background-image: none;
	background-position: 0% 0%;
	background-size: initial;
	background-attachment: scroll;
	background-origin: initial;
	background-clip: initial;
	background-color: rgba(0, 0, 0, 0);
	border-width: 0px;
	float: none;
	bottom: 0px;
	right: 0px;
	transition: all 0.5s ease 0s !important;
}

/* END */

div.panel {
	padding: 15px;
	text-align: justify;
	display: none;
}
div.flip {
	padding: 5px;
	text-align: center;
	margin: 10px 0;
	background: rgba( 204, 132, 10, 0.5 );
	background: -webkit-linear-gradient( to bottom left, rgba(242, 184, 30, 0.5), rgba(204, 132, 10, 0.5) );
	background: linear-gradient( to bottom left, rgba(242, 184, 30, 0.5), rgba(204, 132, 10, 0.5) );
}
div.flip:hover {
	background: rgba( 204, 132, 10, 1 );
	background: -webkit-linear-gradient( to bottom left, rgba(242, 184, 30, 1), rgba(204, 132, 10, 1) );
	background: linear-gradient( to bottom left, rgba(242, 184, 30, 1), rgba(204, 132, 10, 1) );
}
img.panelIcon {
	height: 16px;
	width: 16px;
}
a.popupLink:hover {
	text-decoration: underline;
	cursor: pointer;
}
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.9);
	margin: 0;
}
.modal-content {
	margin: auto;
	display: block;
	width: 75%;
	height: 75%;
	min-width: 640px;
	min-height: 360px;
	border: none;
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
	from { -webkit-transform:scale(0) }
	to { -webkit-transform:scale(1) } 
}
@keyframes zoom {
	from { transform:scale(0) }
	to { transform:scale(1) }
}
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}
.close:hover, .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}
@media only screen and (max-width: 700px) {
	.modal-content { width: 100%;}
}

td.vidCell {
	padding: 0 8px 0 0;
	border: none;
	vertical-align: bottom;
	font-size: 1em;
	font-family: Mont,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

table.vidContainer tr {
	font-size: 1em;
}

table.vidContainer {
	margin: 0;
	font-size: 1em;
}

td.hasevent.calendar_event_course {
	font-weight: 900;
}

/* ***** MAJOR MOODLE RESTYLE AND IMPROVEMENT ***** */
/* General Site-Wide */
::selection {
	background: #7b1ce9;
	color: #ffffff;
	text-shadow: none;
}
.container-fluid {
	background: #2c2c36;
}
html, body, h1, h2, h3, h4, h5, h6, a, div, span, p, ul, li, header, footer, nav, section, aside, button, input, textarea, option, optgroup, select, table, td, tr, th, strong, b, ins, i, img, em, label, dl, dt, dd, legend, fieldset {
	font-family: Mont, "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 2em;
}
pre, code, pre span {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
body, h1, h2, h3, h4, h5, h6, p {
	color: #2c2c36;
}
a, a:link, a:visited {
	color: rgba(44,44,54,0.7);
}
#notice.box.generalbox {
	text-align: center;
	padding: 0.4em 1em;
	background: #aaaab4;
	color: #000000;
}
.alert {
	margin-bottom: 0;
	border-radius: 2px;
	border: none;
}
img.iconhelp, .helplink img {
	padding: 0.1em;
	vertical-align: text-top;
}
.moodle-dialogue-base .moodle-dialogue-wrap {
	border: none;
}
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd, .moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd.yui3-widget-hd {
	color: #ffffff;
	background: #7b1ce9;
	border: none;
}
.moodle-dialogue-base .closebutton {
	background: url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/icons/blue/cross.svg) center/contain no-repeat !important;
	height: 2em;
	width: 2em;
	margin: 0.3em;
	box-shadow: none;
}
/* Login Page */
#page-login-index #region-main {
	background: #1548e0 url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/backgrounds/login_1.png) center/cover no-repeat;
	position: absolute;
	z-index: 12345;
	top: 0;
	height: 100%;
}
div.loginbox {
	margin: 25vh 0 0 55vw;
	border: none;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.loginbox .loginform .form-label {
	padding: 0;
	width: 25%;
}
.loginbox .loginform .form-input {
	width: 70%;
}
.loginbox .loginform .form-input input {
	width: 90%;
}
/* Top Navbar */
header.navbar.navbar-fixed-top {
	background: -webkit-linear-gradient(190deg, #7b1ce9 0%, #1548e0 100%);
	background: linear-gradient(190deg, #7b1ce9 0%, #1548e0 100%);
}
#page-header, div#page-header-wrapper, header.navbar > nav.navbar-inner, div#page-navbar, div#page-navbar-wrapper, header nav .container-fluid {
	background: none !important;
	border: none;
	box-shadow: none;
}
#page-navbar nav.breadcrumb-nav, .navbar-text {
	padding: 0;
}
#page-navbar div.breadcrumb-button {
	padding: 0 12px 0 0;
	margin: 0;
}
ul.breadcrumb, ul.breadcrumb a {
	color: #ffffff;
}
nav.breadcrumb-nav ul.breadcrumb {
	padding: 0 0 0 12px;
}
#page-navbar ul.breadcrumb a.dimmed_text {
	color: #f6f6fa;
}
#page-navbar .singlebutton input {
	color: #2c2c36;
	background: #ffffff !important;
	border-radius: 2px;
	border: 2px solid #ffffff;
	padding: 0.6em 1.2em;
	font-weight: 600;
	font-size: 16px;
	line-height: 1em;
	box-shadow: none;
	transition: all ease-in-out 0.2s;
}
#page-navbar .singlebutton input:hover {
	border-radius: 0;
	border: 2px solid #2c2c36;
}
.dir-ltr .usermenu{
	background: none;
}
.usermenu .login {
	color: #ffffff;
}
.usermenu .login a {
	color: #4ADCB0;
}
header.navbar .usermenu .moodle-actionmenu .toggle-display {
	color: #f6f6fa;
}
header.navbar nav.navbar-inner .usermenu .moodle-actionmenu.show ul.menu.align-tr-br {
	padding: 0;
	margin: 0;
	border: none;
}
.jsenabled .usermenu .moodle-actionmenu.show .menu a:hover {
	background: #1696ec;
}
header.navbar .usermenu ul.menu.align-tr-br .filler {
	margin: 4px 1px;
	border: none;
}
nav.navbar-inner {
	border-bottom: none !important;
	box-shadow: none;
}
div#page-navbar {
	border: none;
	padding-bottom: 12px;
}
.bannertext img, .logounit img {
	width: 205px;
	height: 33px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/text_logo_mont.png) left top no-repeat;
	padding-left: 205px;
}
#page-user-profile .page-context-header {
	background: #ffffff;
}
/* Calendar */
.block_calendar_month.block .content {
	padding: 0;
	background: #aaaab4;
}
.block_calendar_month.block .content .calendar-controls {
	background: #1548e0;
}
.minicalendar.calendartable tr.weekdays {
	background: #2c2c36;
}
.minicalendar.calendartable td.dayblank {
	border: 1px solid #2c2c36;
}
.minicalendar.calendartable td.day {
	background: #f6f6fa;
	color: #2c2c36;
	border: 1px solid #aaaab4;
}
.minicalendar.calendartable td.weekend.day {
	color: #aaaab4;
}
.block_calendar_month.block .minicalendar td.today, .block .minicalendar td.today {
	background-color: #1548e0;
}
div.upskilled_news_date .month, div.upskilled_news_date .day {
	line-height: 1em;
}
a.ical-link, a.ical-link:link, a.ical-link:visited {
	color: #ffffff;
	font-size: 12px;
	font-weight: 600;
	background: #7b1ce9;
	padding: 0.1em 0.5em;
	border: 2px solid #ffffff;
	transition: all ease-in-out 0.2s;
}
a.ical-link:hover {
	border: 2px solid #7b1ce9;
}
.block .minicalendar th, .block .minicalendar td {
	border: 1px solid #2c2c36;
}
.maincalendar .calendarmonth td {
	border: 1px solid #aaaab4;
}
.maincalendar .calendarmonth th {
	border: none;
}
.path-calendar .maincalendar .calendarmonth td {
	height: 7em;
}
/* Blocks */
.block .header {
	border: none;
}
.block .header .block_action {
	float: right;
	padding: 4px;
}
.block .header .title {
	border: none;
}
.block .header .title h2 {
	border: none;
	background: none;
	color: #1548e0;
	font-size: 1.3em;
	padding: 8px 10px;
}
.block .header .block_action img, .block .header .block_action input {
	border: none;
}
div.block div.content {
	border: none !important;
	/* background: #f6f6fa; */
	background: #ffffff;
	color: #2c2c36;
}
div.block {
	background: none;
}
.collapsibleregioncaption {
	background: none;
}
.block .header .block_action > img.block-hider-hide, .block .header .block_action > .block-hider-show, .block .header .block_action input.moveto.customcommand.requiresjs {
	max-width: 24px;
	width: 24px;
	height: 24px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0 4px 0 28px;
}
.block_navigation .header .block_action {
	padding-top: 6px;
}
.block .header .block_action > img.block-hider-hide {
	background: url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/icons/blue/minus.svg) 4px top no-repeat;
	background-size: contain;
}
.block .header .block_action > .block-hider-show {
	background: url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/icons/blue/plus.svg) 4px top no-repeat;
	background-size: contain;
}
.block .header .block_action input.moveto.customcommand.requiresjs {
	background: url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/icons/blue/left.svg) 4px top no-repeat;
	background-size: contain;
}
body.has_dock #page {
	padding: 0;
}
.block_navigation .block_tree li.depth_3 ul li, .block_navigation .block_tree li.depth_3 ul ul li, .block_navigation .block_tree li.depth_3:hover {
	background: #f6f6fa;
}
aside#block-region-side-pre .block_navigation .block_tree li.depth_3 ul li a:link, aside#block-region-side-pre .block_navigation .block_tree li.depth_3 ul ul li a:link, aside#block-region-side-pre .block_navigation .block_tree li.depth_3:hover a:link, aside#block-region-side-pre .block_navigation .block_tree li.depth_3 ul li:hover a:link, aside#block-region-side-pre .block_navigation .block_tree li.depth_3:hover a:visited, aside#block-region-side-pre .block_navigation .block_tree li.depth_3 ul ul li a:visited,.block_navigation .block_tree li.depth_3 ul li a:visited {
	color: #2c2c36 !important;
}
a span:hover {
	text-decoration: underline;
}
aside#block-region-side-pre .block_navigation .block_tree li.depth_1:first-child {
	border: none;
}
.block_settings .block_tree li.item_with_icon > p img {
	top: 0.4em;
}
.jsenabled .block_settings .block_tree .tree_item.branch{
	background-position-y: 0.4em;
}
.block_navigation .dimmed_text {
	color: #aaaab4;
}
.block .moodle-actionmenu.block-control-actions.commands {
	border: none;
}
.block .header .title h2, .block h3.main, .block_navigation .block_tree li {
	font-weight: normal;
}
div.block.block_engagement div.trafficlight {
    background-size: cover;
	width: 1em;
	height: 1em;
	left: 0;
	top: 0.5em;
}
.block_myprofile .myprofileitem.fullname {
	font-size: 1.1em;
	font-weight: 600;
}
.block_settings .title h2::before {
	vertical-align: top;
}
/* Page Content and Layout */
#page {
    padding: 0;
}
section#region-main {
	min-height: 73.5vh;
	padding-top: 10px;
}
aside#block-region-side-pre {
	/* background-color: #f6f6fa; */
	background-color: #ffffff;
	flex: 1;
	order: 1;
	padding-top: 8px;
}
section#region-main, .course-content ul li.section.main {
	background-color: #ffffff;
	flex: 5;
	order: 2;
}
aside#block-region-side-post {
	/* background-color: #f6f6fa; */
	background-color: #ffffff;
	padding-top: 8px;
}
div#page-content {
	display: flex;
}
div#region-bs-main-and-pre {
	display: flex;
}
div#region-bs-main-and-pre > div.row-fluid {
	display: flex;
}
#page-site-index .forumolddiscuss {
	background: none;
}
#region-main input[type="submit"], input[type="submit"]:not([id|="rubric"]), input[type="button"], aside#block-region-side-pre input[type="submit"], aside#block-region-side-post input[type="submit"], button {
	background: #4ADCB0 !important;
	font-weight: 600;
	font-size: 1.2em;
	color: #ffffff;
	border-radius: 4px;
	/* border: 2px solid #f6f6fa; */
	border: 2px solid #ffffff;
	box-shadow: none;
	padding: 0.6em 1.2em;
	transition: all ease-in-out 0.2s;
}
div.editor_atto_toolbar button, div[id^="wistia"] button {
	background: none !important;
}
aside#block-region-side-post button {
	padding: 0.2em 1.2em;
}
.enrolpanel.roleassign.visible input[type="button"] {
	font-size: 1em;
	padding: 0.6em 1.2em;
}
#rubric-rubric.gradingform_rubric .addcriterion {
	background: none;
	border: none;
	box-shadow: none;
}
.gradingform_rubric {
	max-width: none;
}
.gradingform_rubric .criterion {
	border: 1px solid #f6f6fa;
}
.gradingform_rubric .criterion.even {
	background: #f6f6fa;
}
.mform .fitem div.fitemtitle {
	width: auto;
	min-width: 15%;
}
.mform .fitem .felement {
	float: inline-start;
}
#page-blocks-configurable_reports-editreport .editor_atto_wrap {
	width: 74%;
	float: inline-start;
}
table#advancedgrading-criteria textarea[cols] {
	width: 300px;
}
#rubric-rubric.gradingform_rubric .addcriterion input, #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel input, #guide-guide.gradingform_guide.editor .addcriterion input, #guide-guide.gradingform_guide.editor .addcomment input {
	font-size: 1em;
	color: #ffffff;
	height: auto;
	padding: 0.1em 0.5em;
	border: 2px solid #ffffff;
	box-shadow: none;
}
#region-main input[type="submit"]:disabled, aside#block-region-side-pre input[type="submit"]:disabled, aside#block-region-side-post input[type="submit"]:disabled, .enrolpanel.roleassign.visible input[type="button"]:disabled {
	color: #2c2c36;
}
#region-main input[type="submit"]:hover, input[type="submit"]:not([id|="rubric"]):hover, input[type="button"]:hover, aside#block-region-side-pre input[type="submit"]:hover, aside#block-region-side-post input[type="submit"]:hover, button:hover, .enrolpanel.roleassign.visible input[type="button"]:hover, #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel input:hover, #guide-guide.gradingform_guide.editor .addcriterion input:hover, #guide-guide.gradingform_guide.editor .addcomment input:hover {
	color: #ffffff;
	background: #4ADCB0 !important;
	border-radius: 0;
	border: 2px solid #4ADCB0;
}
div.editor_atto_toolbar button:hover {
	background: rgba(170, 170, 180, 0.5) radial-gradient(ellipse at center, #fff 60%, rgba(170, 170, 180, 0.5) 100%) !important;
}
#region-main input[type="submit"]:hover:disabled, aside#block-region-side-pre input[type="submit"]:hover:disabled, aside#block-region-side-post input[type="submit"]:hover:disabled, aside#block-region-side-post button:hover:disabled, .enrolpanel.roleassign.visible input[type="button"]:hover:disabled {
	background: #4ADCB0 !important;
	color: #2c2c36;
	border-radius: 2px;
	border: 2px solid #ffffff;
}
#rubric-rubric.gradingform_rubric.editor .moveup input, #rubric-rubric.gradingform_rubric.editor .moveup input:hover {
	background: #4ADCB0 url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/icons/blue/up.svg) center/1em no-repeat !important;
	width: auto;
	height: auto;
	padding: 0.2em 0.8em;
}
#rubric-rubric.gradingform_rubric.editor .movedown input, #rubric-rubric.gradingform_rubric.editor .movedown input:hover {
	background: #4ADCB0 url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/icons/blue/down.svg) center/1em no-repeat !important;
	width: auto;
	height: auto;
	padding: 0.2em 0.8em;
}
#rubric-rubric.gradingform_rubric.editor .delete input, #rubric-rubric.gradingform_rubric.editor .delete input:hover {
	background: #4ADCB0 url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/icons/blue/cross.svg) center/1em no-repeat !important;
	width: auto;
	height: auto;
	padding: 0.2em 0.8em;
}
#rubric-rubric.gradingform_rubric.editor .duplicate input, #rubric-rubric.gradingform_rubric.editor .duplicate input:hover {
	background: #4ADCB0 url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/icons/blue/copy.svg) center/1em no-repeat !important;
	width: auto;
	height: auto;
	padding: 0.2em 0.8em;
}
#rubric-rubric.gradingform_rubric .addcriterion input, #rubric-rubric.gradingform_rubric .addcriterion input:hover {
	background: #4ADCB0 url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/icons/blue/plus.svg) 0.2em/2em 2em no-repeat !important;
	padding-left: 2.5em;
}
#rubric-rubric.gradingform_rubric .criterion.even input, #rubric-rubric.gradingform_rubric #rubric-criteria .criterion.even .addlevel input {
	border: 2px solid #f6f6fa;
}
aside#block-region-side-pre input[type="text"], aside#block-region-side-pre input#adminsearchquery, input#searchform_search, input#search {
	border: 1px solid #000000;
	box-shadow: none;
	border-radius: 16px;
	background: #ffffff url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/icons/blue/search.svg) no-repeat 6px center;
	background-size: 1.5em;
	padding-left: 32px;
	transition: all ease-in-out 0.2s;
	max-width: 100%;
}
a.linkbutton {
	height: auto;
	width: auto;
	text-decoration: none;
	text-align: center;
	background: #4ADCB0;
	font-weight: 600;
	font-size: 1rem;
	font-family: Mont, "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.5em;
	color: #ffffff;
	border-radius: 4px;
	border: 2px solid #ffffff;
	box-shadow: none;
	padding: 0.6em 1.2em;
	transition: all ease-in-out 0.2s;
}
.linkbutton:hover {
	color: #ffffff;
	background: #4ADCB0;
	border: 2px solid #4ADCB0;
	border-radius: 0;
}
aside#block-region-side-pre input[type="text"]:hover, aside#block-region-side-pre input#adminsearchquery:hover, input#searchform_search:hover, input#search:hover, aside#block-region-side-pre input[type="text"]:focus, aside#block-region-side-pre input#adminsearchquery:focus, input#searchform_search:focus, input#search:focus {
	border-radius: 0px;
}
#rubric-rubric.gradingform_rubric {
	max-width: 100%;
}
.gradingform_rubric .criterion.even {
	background: #f6f6fa;
}
#region-main hr, aside#block-region-side-pre hr {
	height: 0px;
	border: 1px solid #aaaab4;
	border-top: none;
}
#page-report-outline-user .mod-scorm .structlist > li {
	word-wrap: break-word;
}
table.flexible th, .generaltable th {
	font-weight: 600;
}
.nav-tabs > li > a {
	background: #1548e0;
	border: none;
	color: #ffffff;
	transition: all ease-in-out 0.2s;
}
.nav-tabs > li > a:hover {
	background: #1696ec;
	border: none;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
	background: #1696ec !important;
	border: none;
	color: #ffffff;
}
.forumpost .row.header {
	background: #1548e0 -webkit-linear-gradient(190deg, #7b1ce9 0%, #1548e0 100%);
	background: #1548e0 linear-gradient(190deg, #7b1ce9 0%, #1548e0 100%);
	border: none;
	padding: 4px 0px;
}
.forumpost .row.header .topic {
	margin-left: 1em;
}
.forumpost .header a, .forumpost .header a:link {
	color: #ffffff;
}
.forumpost .header .upskilled_news_date {
	font-size: 14px;
	color: #7b1ce9;
	background-image: url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/newsdatebg_new.png);
}
.forumpost, .forumpost .content {
	border: none;
	background: none;
}
.forumpost {
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	margin-bottom: 2em;
}
table.flexible td, .generaltable td, .generaltable tr, .generaltable th {
	border: none;
}
table#explaincaps tbody > tr:nth-child(2n+1) > td, table#defineroletable tbody > tr:nth-child(2n+1) > td, table.grading-report tbody > tr:nth-child(2n+1) > td, table#listdirectories tbody > tr:nth-child(2n+1) > td, table.rolecaps tbody > tr:nth-child(2n+1) > td, table.userenrolment tbody > tr:nth-child(2n+1) > td, table#form tbody > tr:nth-child(2n+1) > td, form#movecourses table tbody > tr:nth-child(2n+1) > td, #page-admin-course-index .editcourse tbody > tr:nth-child(2n+1) > td, .forumheaderlist tbody > tr:nth-child(2n+1) > td, table.flexible tbody > tr:nth-child(2n+1) > td, .generaltable tbody > tr:nth-child(2n+1) > td, .path-mod-assign .gradingtable tr.unselectedrow:nth-child(2n+1) > td, table#explaincaps tbody > tr:nth-child(2n+1) > th, table#defineroletable tbody > tr:nth-child(2n+1) > th, table.grading-report tbody > tr:nth-child(2n+1) > th, table#listdirectories tbody > tr:nth-child(2n+1) > th, table.rolecaps tbody > tr:nth-child(2n+1) > th, table.userenrolment tbody > tr:nth-child(2n+1) > th, table#form tbody > tr:nth-child(2n+1) > th, form#movecourses table tbody > tr:nth-child(2n+1) > th, #page-admin-course-index .editcourse tbody > tr:nth-child(2n+1) > th, .forumheaderlist tbody > tr:nth-child(2n+1) > th, table.flexible tbody > tr:nth-child(2n+1) > th, .generaltable tbody > tr:nth-child(2n+1) > th, .user-enroller-panel .uep-search-results .users tbody tr:hover > td, .user-enroller-panel .uep-search-results .cohorts tbody tr:hover > td, table.grading-report tbody tr:hover > td, .forumheaderlist tbody tr:hover > td, .generaltable tbody tr:hover > td, table.flexible tbody tr:hover > td, .category_subcategories tbody tr:hover > td, table#modules tbody tr:hover > td, table#permissions tbody tr:hover > td, .user-enroller-panel .uep-search-results .users tbody tr:hover > th, .user-enroller-panel .uep-search-results .cohorts tbody tr:hover > th, table.grading-report tbody tr:hover > th, .forumheaderlist tbody tr:hover > th, .generaltable tbody tr:hover > th, table.flexible tbody tr:hover > th, .category_subcategories tbody tr:hover > th, table#modules tbody tr:hover > th, table#permissions tbody tr:hover > th {
	background: #f6f6fa;
}
.path-mod-assign div.submissionsummarytable table tbody tr td.c0 {
	width: auto;
	font-weight: 600;
}
.path-mod-assign td.submissionstatus, .path-mod-assign div.submissionstatus, .path-mod-assign a:link.submissionstatus {
	color: #2c2c36;
	background: none;
}
/* Footer */
.footnote.text-left {
	width: 50%;
}
footer div.social {
	display: none;
}
footer .footer_social-links {
	list-style: none;
	font-size: 0;
	line-height: 20px;
	text-align: left;
	padding: 0;
	margin: 0;
}
footer .footer_social-link-item {
	display: inline-block;
	height: 32px;
	vertical-align: middle;
	text-align: right;
}
footer .footer_social-link-item:hover {
	opacity: 0.8;
}
footer .footer_social-link-item:not(:first-child) {
	padding-left: 20px;
}
footer .footer_social-link-item svg {
	fill: #ffffff;
}
footer#page-footer {
	font-size: 0.8em;
	padding: 15px 0;
	border: none;
}
#footnotewrapper div.copyright a.footer_copyright-link {
	color: #aaaab4;
}
#page-footer, #page-footer p {
	color: #ffffff;
}
#page-footer {
	background: #2c2c36;
}
/* Course Specific */
select[multiple], select[size] {
	width: inherit;
}
select[multiple]#groups, select[size]#groups {
	height: 60vh;
}
#page-enrol-users #filterform {
	background: none;
	border: none;
	box-shadow: none;
}
.forumsearch {
	background: #ffffff;
	padding: 4px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	border-radius: 4px;
}
div#tileoutlinearea div.tileoutlinecontent {
	/* background: #2c2c36; */
	position: static;
	background: #fff url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/rings.svg) no-repeat;
	background-size: 66%;
	background-position-x: 200%;
	background-position-y: bottom;
	padding-right: 40%;
	min-height: 280px;
}
body.category-5 div#tileoutlinearea div.tileoutlinecontent, body.category-41 div#tileoutlinearea div.tileoutlinecontent, body.category-45 div#tileoutlinearea div.tileoutlinecontent {
	background: #fff url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/rings-light_blue.svg) no-repeat;
	background-size: 66%;
	background-position-x: 200%;
	background-position-y: bottom;
}
body.category-9 div#tileoutlinearea div.tileoutlinecontent {
	background: #fff url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/rings-yellow.svg) no-repeat;
	background-size: 66%;
	background-position-x: 200%;
	background-position-y: bottom;
}
body.category-44 div#tileoutlinearea div.tileoutlinecontent {
	background: #fff url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/rings-red.svg) no-repeat;
	background-size: 66%;
	background-position-x: 200%;
	background-position-y: bottom;
}
#tileoutlinetiles .tile {
	background: none;
}
#tileoutlinetiles .tile a {
	border: none !important;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
#tileoutlinetiles .tile a:not([style*="background-image"]) {
	background: #ffffff url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/rings.svg) center 50px/100% no-repeat !important;
	transition: all ease-in-out 0.2s;
}
#tileoutlinetiles .tile a:not([style*="background-image"]):hover {
	background: #ffffff url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/rings.svg) center 0px/110% no-repeat !important;
}
body.category-5 #tileoutlinetiles .tile a:not([style*="background-image"]), body.category-41 #tileoutlinetiles .tile a:not([style*="background-image"]), body.category-45 #tileoutlinetiles .tile a:not([style*="background-image"]) {
	background: #ffffff url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/rings-light_blue.svg) center 50px/100% no-repeat !important;
}
body.category-5 #tileoutlinetiles .tile a:not([style*="background-image"]):hover, body.category-41 #tileoutlinetiles .tile a:not([style*="background-image"]):hover, body.category-45 #tileoutlinetiles .tile a:not([style*="background-image"]):hover {
	background: #ffffff url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/rings-light_blue.svg) center 0px/110% no-repeat !important;
}
body.category-9 #tileoutlinetiles .tile a:not([style*="background-image"]) {
	background: #ffffff url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/rings-yellow.svg) center 50px/100% no-repeat !important;
}
body.category-9 #tileoutlinetiles .tile a:not([style*="background-image"]):hover {
	background: #ffffff url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/rings-yellow.svg) center 0px/110% no-repeat !important;
}
body.category-44 #tileoutlinetiles .tile a:not([style*="background-image"]) {
	background: #ffffff url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/rings-red.svg) center 50px/100% no-repeat !important;
}
body.category-44 #tileoutlinetiles .tile a:not([style*="background-image"]):hover {
	background: #ffffff url(https://github.com/Skeksalot/UpSkillage/raw/master/Generic_Resources/rings-red.svg) center 0px/110% no-repeat !important;
}
div#tileoutlinearea.tileoutlinearea {
	padding-top: 0;
}
.tile span.tiletitle, .tiletitle, .tile a:hover .tiletitle, #tileoutlinearea h3.sectionname {
	font-family: inherit;
}
#tileoutlinearea h3.sectionname {
	color: #2c2c36 !important;
}
.tile span.tiletopic, .tile a:hover .tiletopic {
	border: none;
	border-radius: 2px;
	color: #ffffff;
	background: rgba(44,44,54,0.8);
	font-family: inherit;
	padding: .1em 0.6em;
	transition: all ease-in-out 0.2s;
}
.tiletopicnav ul li a {
	background: #7b1ce9;
	border: 2px solid #ffffff;
	color: #ffffff;
	border-radius: 2px;
	transition: all ease-in-out 0.2s;
}
.tiletopicnav ul li a:hover, .tiletopicnav ul li a.current {
	background: #ffffff;
	border: 2px solid #7b1ce9;
	color: #7b1ce9 !important;
}
body.category-5 .tiletopicnav ul li a, body.category-41 .tiletopicnav ul li a, body.category-45 .tiletopicnav ul li a {
	background: #1696ec;
	border: 2px solid #1696ec;
	color: #ffffff;
	border-radius: 2px;
	transition: all ease-in-out 0.2s;
}
body.category-5 .tiletopicnav ul li a:hover, body.category-5 .tiletopicnav ul li a.current, body.category-41 .tiletopicnav ul li a:hover, body.category-41 .tiletopicnav ul li a.current, body.category-45 .tiletopicnav ul li a:hover, body.category-45 .tiletopicnav ul li a.current {
	background: #ffffff;
	border: 2px solid #1696ec;
	color: #1696ec !important;
}
body.category-9 .tiletopicnav ul li a {
	background: #f2b81e;
	border: 2px solid #f2b81e;
	color: #ffffff;
	border-radius: 2px;
	transition: all ease-in-out 0.2s;
}
body.category-9 .tiletopicnav ul li a:hover, body.category-9 .tiletopicnav ul li a.current {
	background: #ffffff;
	border: 2px solid #f2b81e;
	color: #f2b81e !important;
}
body.category-44 .tiletopicnav ul li a {
	background: #ec2262;
	border: 2px solid #ec2262;
	color: #ffffff;
	border-radius: 2px;
	transition: all ease-in-out 0.2s;
}
body.category-44 .tiletopicnav ul li a:hover, body.category-44 .tiletopicnav ul li a.current {
	background: #ffffff;
	border: 2px solid #ec2262;
	color: #ec2262 !important;
}
#region-main .tiletopicnav ul li a.disabled {
	background: #aaaab4;
	border: 2px solid #aaaab4;
	color: #ffffff !important;
	border-radius: 2px;
}
div#tileoutlinearea a, div#tileoutlinearea a:link, div#tileoutlinearea a:visited  {
	color: #2c2c36;
}
.tileoutlinecontent h1, .tileoutlinecontent p, .tileoutlinecontent div {
	color: #2c2c36;
}
.tile a:hover .tiletopic {
	background: rgba(44,44,54,1); 
}
.section .activity .editing_move {
	z-index: 2;
}
#page-backup-import legend.ftoggler {
	border-bottom-color: #aaaab4;
}
#page-backup-import div.grouped_settings.section_level{
	background: none;
	border: none;
	border-bottom: 1px solid #aaaab4;
	box-shadow: none;
}
#page #intro.box.generalbox.boxaligncenter.boxwidthwide {
	background: none;
	box-shadow: none;
}
#page-mod-scorm-player div[role="main"] {
	width: 100%;
}
.path-course-view .completionprogress {
	height: 2em;
}
/* Quality of life improvement for SQL reports */
div.CodeMirror.cm-s-default {
	width: 160vh;
}
div#fitem_id_querysql div.felement.ftextarea {
	width: 100%;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
.CodeMirror-code pre, .CodeMirror-code pre span {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	line-height: 1em;
}
#page-blocks-configurable_reports-viewreport #id_submitbutton {
	margin-left: 232px;
}
#page-blocks-configurable_reports-viewreport #reporttable.generaltable {
	border: none;
}
#page-blocks-configurable_reports-viewreport #reporttable.generaltable th {
	background-color: #A65AFA;
	color: #ffffff;
	font-weight: 600;
}