@import url('https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700|Muli:300,400,700,900');

h1, h2, h3 , h4, h5, h6, div.footer-copyright {
	font-family: 'Muli', sans-serif;
}

div.footer-copyright, a.footer-copyright-link {
	font-size: 11px;
	line-height: 16px;
}

/*
Category ID's are the internal stored values in the system.
Can also be found in the Snap theme settings under category colours.
*/
body.category-3 #page-header, div.BUS:hover {
	background: rgba( 22, 150, 236, 1 );
	background: linear-gradient( 190deg, rgba(22, 150, 236, 1), rgba(21, 72, 224, 1) );
	background-size: cover;
	background-repeat: no-repeat;
	color: #ffffff;
}

body.category-3 ul#toc-search-results a {
	color: #1696ec;
}

body.category-6 #page-header, div.CHC:hover {
	background: rgba( 236, 34, 98, 1 );
	background: linear-gradient( 190deg, rgba(236, 34, 98, 1), rgba(144, 16, 76, 1) );
	background-size: cover;
	background-repeat: no-repeat;
	color: #ffffff;
}

body.category-6 ul#toc-search-results a {
	color: #ec2262;
}

body.category-5 #page-header, div.ICT:hover {
	background: rgba( 242, 184, 30, 1 );
	background: linear-gradient( 190deg, rgba(242, 184, 30, 1), rgba(204, 132, 10, 1) );
	background-size: cover;
	background-repeat: no-repeat;
	color: #ffffff;
}

body.category-5 ul#toc-search-results a {
	color: #f2b81e;
}

body.category-7 #page-header, div.Corp:hover {
	background: rgba( 44, 44, 54, 1 );
	background: linear-gradient( 190deg, rgba(44, 44, 54, 1), rgba(0, 0, 0, 1) );
	background-size: cover;
	background-repeat: no-repeat;
}

body.category-7 ul#toc-search-results a {
	color: #2c2c36;
}

div.panel {
	padding: 15px;
	text-align: justify;
	display: none;
}

div.flip {
	padding: 5px;
	text-align: center;
	margin: 10px 0;
	background: rgba( 123, 28, 233, 0.5 );
	background: linear-gradient( 190deg, rgba(123, 28, 233, 0.5), rgba(21, 72, 224, 0.5) );
}

div.flip:hover {
	color: #ffffff;
	background: rgba( 123, 28, 233, 1 );
	background: linear-gradient( 190deg, rgba(123, 28, 233, 1), rgba(21, 72, 224, 1) );
}

div.ICT {
	padding: 5px;
	text-align: center;
	background: rgba( 242, 184, 30, 0.5 );
	background: linear-gradient( 190deg, rgba(242, 184, 30, 0.5), rgba(204, 132, 10, 0.5) );
}
div.BUS {
	padding: 5px;
	text-align: center;
	background: rgba( 22, 150, 236, 0.5 );
	background: linear-gradient( 190deg, rgba(22, 150, 236, 0.5), rgba(21, 72, 224, 0.5) );
}
div.CHC {
	padding: 5px;
	text-align: center;
	background: rgba( 236, 34, 98, 0.5 );
	background: linear-gradient( 190deg, rgba(236, 34, 98, 0.5), rgba(144, 16, 76, 0.5) );
}
div.Corp {
	color: white;
	padding: 5px;
	text-align: center;
	background: rgba( 44, 44, 54, 0.5 );
	background: linear-gradient( 190deg, rgba(44, 44, 54, 0.5), rgba(0, 0, 0, 0.5) );
}

/* Beginning modifications for Pseudo-Tile Format */

li.snap-asset .snap-activity .activity{
	padding-bottom: 0em !important;
}

ol#chapters {
	column-count: 3 !important;
	list-style-position: inside !important;
}

ol#chapters > li {
	background-color: white;
	padding: 5.6em 0em 0em 0.4em;
	min-height: 9.8em;
	margin-left: 0em !important;
	background-image: url(https://skeksalot.github.io/UpSkillage/MoodleRooms/res/grey.png);
	background-repeat: repeat-x;
	background-position-y: bottom;
	background-size: 3.2em;
	vertical-align: bottom;
}

ol#chapters > li > a[href="#section-0"] {
	margin-top: 1em;
}

li.snap-visible-section > a {
	color: #aaaab4 !important;
}

ol#chapters > li > a[href="#section-0"], .chapter-title, .text.completionstatus.outoftotal {
	color: #ffffff !important;
}



#toc-search {
	top: 0px !important;
}

.toc-footer {
	padding: 0.6em 0em 0.6em 0em;
}

#course-toc #chapters li {
	padding-bottom: 0em;
}

.section li.snap-activity {
	padding-bottom: 1em !important;
}

body.category-7 #mr-nav span, body.category-7 #mr-nav path, span.close, h2#toc-desktop-menu-heading {
	color: #ffffff;
}

#page-header {
	background-image: linear-gradient( 190deg, #7b1ce9, #1548e0 );
	background-size: cover;
	background-repeat: no-repeat;
}

page-header-headings, div.footer-copyright, a.footer-copyright-link, li.breadcrumb-item, li.breadcrumb-item > a, div#page-mast a:not(.chapter-title), div#page-mast h1:only-child, div#page-header a:not(.chapter-title) {
	color: #ffffff;
}

#moodle-footer {
	background-color: #2c2c36;
}

/*
Included to allow readme sections to display full width
*/
div.mod-indent-outer {
	display: block;
}

div.logo {
	height: 90px;
}

a.popupLink:hover {
	text-decoration: underline;
	cursor: pointer;
}

div.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.9);
	margin: 0;
	text-align: center;
	text-align: -moz-center;
}

iframe.modal-content {
	width: 75%;
	height: 75%;
	min-width: 640px;
	min-height: 360px;
	border: none;
}

.modal-backdrop {
	display: none;
}

span.close {
	margin-top: 60px;
	color: #aaaab4;
}

/*
Front page heading colour
*/
.snap-feature-spots-heading{
	color: #7b1ce9;
}

.snap-feature-text {
	margin: 0 0 20px;
	text-align: left;
	margin-top: 20px;
}

div.footer-ups-logo, div.social-networks-outer, div.footer-copyright {
	display: inline-block;
	width: 33%;
	text-align: center;
}

li.social-ico {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 10px 24px;
}

#moodle-footer a.social-ico {
	font-size: 36px;
	line-height: 42px;
	color: #ffffff;
}

#moodle-footer a.social-ico:hover {
	color: #aaaab4;
	text-decoration: none;
}

.fa-facebook:before {
	content: "\f09a" !important;
}
.fa-twitter:before {
	content: "\f099" !important;
}
.fa-linkedin:before {
	content: "\f0e1" !important;
}
.fa-instagram:before {
	content: "\f16d" !important;
}
.fa-pinterest:before {
	content: "\f0d2" !important;
}
.fa-youtube:before {
	content: "\f167" !important;
}
