@import url('https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700|Muli:300,400,700,900');

/* Default page header gradient and site-wide styles - all pages except courses within faculty categories */

h1, h2, h3 , h4, h5, h6, div.footer-copyright {
	font-family: 'Muli', sans-serif;
}

#page-header {
	background-image: linear-gradient( 190deg, #7b1ce9, #1548e0 );
	background-size: cover;
	background-repeat: no-repeat;
}

.snap-feature-spots-heading {
	color: #7b1ce9;
}

::selection {
	background: #7b1ce9;
	color: #ffffff;
	text-shadow: none;
}

div.logo {
	height: 90px;
}

a.popupLink:hover {
	text-decoration: underline;
	cursor: pointer;
}

li.snap-visible-section > a {
	color: #2c2c36 !important;
}

li.breadcrumb-item, li.breadcrumb-item > a, .chapter-title, div#page-header a {
	/* Text colouring for breadcrumbs and header */
	color: #ffffff;
}

#snap-course-wrapper, #snap-course-wrapper > div {
	margin: 0;
}

#snap-course-wrapper > div > div:first-child {
	background: #f6f6fa;
}

/*div#page-mast a:not(.chapter-title), div#page-mast h1:only-child, div#page-header a:not(.chapter-title), page-header-headings {
	color: #ffffff !important;
}*/

/*
Category ID's are the internal stored values in the system.
Can also be found in the Snap theme settings under category colours.
*/

/* Faculty colours for course headers applied per category */

body.category-3 #page-header, body.category-15 #page-header, div.BUS:hover {
	background: rgba( 22, 150, 236, 1 );
	background: linear-gradient( 190deg, rgba(22, 150, 236, 1), rgba(21, 72, 224, 1) );
	background-size: cover;
	background-repeat: no-repeat;
	color: #ffffff;
}

body.category-3 ul#toc-search-results a, body.category-15 ul#toc-search-results a {
	color: #1696ec;
}

body.category-15 ::selection, body.category-15 ::selection {
	background: #1696ec;
	color: #ffffff;
	text-shadow: none;
}

body.category-6 #page-header, body.category-16 #page-header div.CHC:hover {
	background: rgba( 236, 34, 98, 1 );
	background: linear-gradient( 190deg, rgba(236, 34, 98, 1), rgba(144, 16, 76, 1) );
	background-size: cover;
	background-repeat: no-repeat;
	color: #ffffff;
}

body.category-6 ul#toc-search-results a, body.category-16 ul#toc-search-results a {
	color: #ec2262;
}

body.category-6 ::selection, body.category-16 ::selection {
	background: #ec2262;
	color: #ffffff;
	text-shadow: none;
}

body.category-5 #page-header, body.category-17 #page-header, div.ICT:hover {
	background: rgba( 242, 184, 30, 1 );
	background: linear-gradient( 190deg, rgba(242, 184, 30, 1), rgba(204, 132, 10, 1) );
	background-size: cover;
	background-repeat: no-repeat;
	color: #ffffff;
}

body.category-5 ul#toc-search-results a, body.category-17 ul#toc-search-results a {
	color: #f2b81e;
}

body.category-5 ::selection, body.category-17 ::selection {
	background: #f2b81e;
	color: #ffffff;
	text-shadow: none;
}

body.category-7 #page-header, div.Corp:hover {
	background: rgba( 44, 44, 54, 1 );
	background: linear-gradient( 190deg, rgba(44, 44, 54, 1), rgba(0, 0, 0, 1) );
	background-size: cover;
	background-repeat: no-repeat;
}

body.category-7 ul#toc-search-results a {
	color: #2c2c36;
}

body.category-7 #mr-nav span, body.category-7 #mr-nav path {
	color: #ffffff;
}

/* Modifications for Pseudo-Tile Format */

body.category-14 li.snap-asset .snap-activity .activity {
	padding-bottom: 0em !important;
}

body.category-14 ol#chapters {
	column-count: 2 !important;
	list-style: decimal !important;
	list-style-position: inside !important;
	column-gap: 0.5em;
}

body.category-14 ol#chapters > li {
	color: #000000;
	background-color: #FFFFFF;
	padding: 5em 0em 0em 0.4em;
	min-height: 7.2em;
	margin-left: 0em !important;
	margin-bottom: 0.5em;
	background-image: url(https://skeksalot.github.io/UpSkillage/MoodleRooms/res/grey.png);
	background-repeat: repeat-x;
	background-position-y: bottom;
	background-size: 2.1em;
	vertical-align: bottom;
}

body.category-14 ol#chapters > li:hover {
	opacity: 0.7;
}

body.category-14 li.snap-visible-section > a {
	color: #aaaab4 !important;
}

body.category-14 .chapter-title, body.category-14 .text.completionstatus.outoftotal {
	color: #ffffff !important;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

body.category-14 .chapter-title {
	font-size: 0.7em;
}

body.category-14 #course-toc .text small {
	font-size: 0.6em !important;
}

body.category-14 #toc-search {
	top: 0px !important;
}

body.category-14 .toc-footer {
	padding: 0.6em 0em 0.6em 0em;
}

body.category-14 #course-toc #chapters li {
	padding-bottom: 0em;
}

body.category-14 .section li.snap-activity {
	padding-bottom: 1em !important;
}

/* Styling for readme dropdowns */

div.panel {
	padding: 15px;
	text-align: justify;
	display: none;
}

div.flip {
	padding: 5px;
	text-align: center;
	margin: 10px 0;
	background: rgba( 123, 28, 233, 0.5 );
	background: linear-gradient( 190deg, rgba(123, 28, 233, 0.5), rgba(21, 72, 224, 0.5) );
}

div.flip:hover {
	color: #ffffff;
	background: rgba( 123, 28, 233, 1 );
	background: linear-gradient( 190deg, rgba(123, 28, 233, 1), rgba(21, 72, 224, 1) );
}

div.ICT {
	padding: 5px;
	text-align: center;
	background: rgba( 242, 184, 30, 0.5 );
	background: linear-gradient( 190deg, rgba(242, 184, 30, 0.5), rgba(204, 132, 10, 0.5) );
}
div.BUS {
	padding: 5px;
	text-align: center;
	background: rgba( 22, 150, 236, 0.5 );
	background: linear-gradient( 190deg, rgba(22, 150, 236, 0.5), rgba(21, 72, 224, 0.5) );
}
div.CHC {
	padding: 5px;
	text-align: center;
	background: rgba( 236, 34, 98, 0.5 );
	background: linear-gradient( 190deg, rgba(236, 34, 98, 0.5), rgba(144, 16, 76, 0.5) );
}
div.Corp {
	color: white;
	padding: 5px;
	text-align: center;
	background: rgba( 44, 44, 54, 0.5 );
	background: linear-gradient( 190deg, rgba(44, 44, 54, 0.5), rgba(0, 0, 0, 0.5) );
}

div.mod-indent-outer {
	display: block;
}

/* Popup modal styles */

div.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.9);
	margin: 0;
	text-align: center;
	text-align: -moz-center;
}

iframe.modal-content {
	width: 75%;
	height: 75%;
	min-width: 640px;
	min-height: 360px;
	border: none;
}

.modal-backdrop {
	display: none;
}

span.close {
	margin-top: 60px;
	color: #aaaab4;
}

/* Footer styling */

#moodle-footer {
	background-color: #2c2c36;
	padding-top: 1em;
}

.snap-feature-text {
	margin: 0 0 20px;
	text-align: left;
	margin-top: 20px;
}

div.footer-ups-logo, div.social-networks-outer, div.footer-copyright {
	display: inline-block;
	width: 33%;
	text-align: center;
}

ul.social-networks {
	padding: 0;
	margin: 0;
}

li.social-ico {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 10px 24px;
}

#moodle-footer a.social-ico {
	font-size: 36px;
	line-height: 42px;
	color: #ffffff;
}

#moodle-footer a.social-ico:hover {
	color: #aaaab4;
	text-decoration: none;
}

div.footer-copyright, a.footer-copyright-link {
	font-size: 11px;
	line-height: 16px;
	color: #ffffff;
}

.fa-facebook:before {
	content: "\f09a" !important;
}
.fa-twitter:before {
	content: "\f099" !important;
}
.fa-linkedin:before {
	content: "\f0e1" !important;
}
.fa-instagram:before {
	content: "\f16d" !important;
}
.fa-pinterest:before {
	content: "\f0d2" !important;
}
.fa-youtube:before {
	content: "\f167" !important;
}
