@import url('https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700|Muli:300,400,700,900');

h1, h2, h3 , h4, h5, h6, div.footer-copyright {
	font-family: 'Muli', sans-serif;
}

page-header-headings, div.footer-copyright, a.footer-copyright-link, li.breadcrumb-item, .category-3 a:not(.btn):not(.dropdown-item):not(._blanktarget):not(.snap-due-date):not(.yui3-button):not(.mast-breadcrumb):not(.active):not(.mod-link):not(.gridicon_link) {
	color: #ffffff;
}

div.footer-copyright, a.footer-copyright-link {
	font-size: 11px;
	line-height: 16px;
}

/*div.logininfo, div.homelink, div.sitelink, footer > a {
	display: none;
}*/

#page-header {
	background-image: linear-gradient( 190deg, #7b1ce9, #1548e0 );
	background-size: cover;
	background-repeat: no-repeat;
}

/*div.summary, div.sectionname {
	color: white;
	background: none;
}*/

#moodle-footer {
	background-color: #2c2c36;
}

div.logo {
	height: 90px;
}

span.close {
	color: white;
}

div.footer-ups-logo, div.social-networks-outer, div.footer-copyright {
	display: inline-block;
	width: 33%;
	text-align: center;
}

li.social-ico {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 10px 24px;
}

li.social-ico, a.social-ico {
	font-size: 36px;
	line-height: 42px;
	color: #ffffff;
}

a.social-ico:hover, li.social-ico:hover {
	color: #000000;
	text-decoration: none;
}

.snap-feature-spots-heading{
	color: #7b1ce9;
}

.snap-feature-text {
	margin: 0 0 20px;
	text-align: left;
	margin-top: 20px;
}

.fa-facebook:before {
	content: "\f09a" !important;
}
.fa-twitter:before {
	content: "\f099" !important;
}
.fa-linkedin:before {
	content: "\f0e1" !important;
}
.fa-instagram:before {
	content: "\f16d" !important;
}
.fa-pinterest:before {
	content: "\f0d2" !important;
}
.fa-youtube:before {
	content: "\f167" !important;
}