/* Mont fonts */
@font-face {
	font-family: "Mont Hairline"; 
	src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Hairline.otf") format("opentype"); 
	font-weight:100;
	font-style:normal;
}

@font-face {
	font-family: "Mont Extra Light"; 
	src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+ExtraLight.ttf") format("truetype"); 
	font-weight:200;
	font-style:normal;
}

@font-face {
	font-family: "Mont Light"; 
	src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Light.ttf") format("truetype"); 
	font-weight:300;
	font-style:normal;
}

@font-face {
	font-family: "Mont Thin"; 
	src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Thin.ttf") format("truetype"); 
	font-style: normal;
}

@font-face {
	font-family: "Mont Regular"; 
	src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric-Mont-Regular.ttf") format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Mont Semi Bold"; 
	src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+SemiBold.ttf") format("truetype"); 
	font-weight: 600;
	font-style: normal; 
}

@font-face {
	font-family: "Mont Bold"; 
	src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal; 
}

@font-face {
	font-family: "Mont Heavy"; 
	src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Heavy.ttf") format("truetype"); 
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Mont Black"; 
	src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Black.ttf") format("truetype"); 
}

@font-face {
	font-family: "Mont Book"; 
	src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Book.ttf") format("truetype"); 
}

@font-face {
	font-family: "Mont Semi Bold Italic"; 
	src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+SemiBold+Italic.otf") format("opentype"); 
	font-style: italic;
}

@font-face {
	font-family: "Mont Extra Light Italic"; 
	src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+ExtraLight+Italic.otf") format("opentype"); 
	font-style: italic;
}

@font-face {
	font-family: "Mont Thin Italic"; 
	src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Light+Italic.otf") format("opentype"); 
	font-style: italic;
}

@font-face {
	font-family: "Mont Regular Italic"; 
	src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Regular+Italic.otf") format("opentype");
	font-style: italic; 
}

@font-face {
	font-family: "Mont Bold Italic"; 
	src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Bold+Italic.otf") format("opentype"); 
	font-style: italic;
}

@font-face {
	font-family: "Mont Heavy Italic"; 
	src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Heavy+Italic.otf") format("opentype"); 
	font-style: italic;
}

@font-face {
	font-family: "Mont Hairline Italic"; 
	src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Hairline+Italic.otf") format("opentype"); 
	font-style: italic;
}

@font-face {
	font-family: "Mont Black Italic"; 
	src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Black+Italic.otf") format("opentype"); 
	font-style: italic;
}

@font-face {
	font-family: "Mont Book Italic"; 
	src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Book+Italic.otf") format("opentype"); 
	font-weight:300;
	font-style: italic;
}

@font-face {
	font-family: "Mont Light Italic"; 
	src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Book+Italic.otf") format("opentype");
	font-weight:300;
	font-style: italic;
}


/* Font  Overrides */

body {
	font-family: "Mont Regular", Helvetica, sans-serif !important;
	font-size: .85em;
	color: #2c2c36;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fefefe;
	background-color: #fefefe;
}

h1, h2, h3, h4 {
	font-family: "Mont Bold", Helvetica, sans-serif !important;
}

.btn, .Button, .ui-button {
	font-size: .85em;
	font-weight: 700;
}

.header-bar a.btn {
	color: #2D3B45 !important;
}

label, input, button, select, textarea {
	font-weight: 700;
}

.btn i[class*=icon-], .btn i[class^=icon-] {
	font-size: 1.4em;
}

a:hover {
	text-decoration: none !important;
	color: var(--ic-link-color);
}

/* Login Page */
.ic-Login__container {
	margin-top: 10%;
	margin-left: 40%;
}
body.ic-Login-Body {
	background-image: var(--ic-brand-Login-body-bgd-image);
	background-position: center;
}

/*  Upskilled Gradient */

#gradient-horizontal {
	  --color-stop-1: var(--ic-brand-button--primary-bgd);
	  --color-stop-2: #1548E0;
}

.icon-hgradient {
	  fill: url(#gradient-horizontal) var(--ic-brand-button--primary-bgd);
	  /* We could use it as a stroke fill too:
	  stroke: url(#gradient-horizontal) #1548e0; */
	}

/*  Site Menu Styling */

.menu-item__text {
	font-size: .95em;
	font-family: "Mont Bold";
}

nav a {
	color: var(--ic-brand-button--primary-bgd);
}

nav a:hover {
	color: #1548E0;
	transition: all .2s ease-in;
}

.list-view a.active {
	color: #EC2262;
	border-left: 2px solid #EC2262;
}

/*  Breadcrumb Styling */

#breadcrumbs>ul>li {
	font-size: 1.2em;
}

/*  Filter Button Styling */

.context_module_item .ig-type-icon i, #select_context_content_dialog i, #module_filters i {
	background-color: var(--ic-brand-button--primary-bgd);
	padding: 5px;
	border-radius: 100px;
	color: #fff !important;
}

.context_module_item .ig-type-icon i.icon-document, #select_context_content_dialog i.icon-document, #module_filters i.icon-document {
	background-color: #F46036;
}

.context_module_item .ig-type-icon i.icon-paperclip, #select_context_content_dialog i.icon-paperclip, #module_filters i.icon-paperclip {
   background-color: #2E294E;
}

.context_module_item .ig-type-icon i.icon-discussion, #select_context_content_dialog i.icon-discussion, #module_filters i.icon-discussion {
	background-color: #1B998B;
}

.context_module_item .ig-type-icon i.icon-assignment, #select_context_content_dialog i.icon-assignment, #module_filters i.icon-assignment {
	background-color: #228ACC;
}

.context_module_item .ig-type-icon i.icon-quiz, #select_context_content_dialog i.icon-quiz, #module_filters i.icon-quiz {
	background-color: #E07BC4;
}

.context_module_item .ig-type-icon i.icon-link, #select_context_content_dialog i.icon-link, #module_filters i.icon-link {
	background-color: #6E6FBD;
}

#module_filters i.disabled {
	background-color: darkgrey !important;
}

/*  Content Styling */

.pages.show .course-title {
	color: var(--ic-link-color);
}

#course_status h3, #right-side h2, #right-side .h2, .pages.show .course-title {
	text-transform: uppercase;
	color: var(--ic-link-color);
}

.header-bar {
	border-bottom: 0px none;
}

#content h1 {
	font-family: "Mont Bold";
	color: #1548e0 !important;
	text-transform: uppercase;
	font-size: 21px;
}

.ic-Layout-contentMain h2 {
	font-weight: 700;
	color: #1548e0;
}

#content a:hover {
	color: #009f6e;
	transition: all .2s ease-in;
}

/* Course page nav links */
div.show-content.user_content a.nav {
	vertical-align: top;
}
div.show-content.user_content a.nav img {
	margin-top: 2.6%;
	width: 5%;
	opacity: 1;
	box-shadow: none;
	transition: all 0.2s ease-in-out;
}
div.show-content.user_content a.nav img:hover {
	opacity: 0.7;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition: all 0.2s ease-in-out;
}
/* Course page banner */
div.show-content.user_content img.banner {
	width: 94%;
}
/* Course page tiles */
div.show-content.user_content img.tile {
	padding: 0.5em;
	opacity: 1;
	box-shadow: none;
	transition: all 0.2s ease-in-out;
}
div.show-content.user_content img.tile:hover {
	opacity: 0.7;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition: all 0.2s ease-in-out;
}

/* LTI new tab styling */
.ic-framed-lti-tool .load_tab {
	margin: 2em;
}
.ic-framed-lti-tool .load_tab button {
	background: var(--ic-brand-button--primary-bgd);
	color: var(--ic-brand-button--primary-text);
	border: none;
}

/* Nav Styling */

.list-view > ul > li > a, .list-view > nav > ul > li > a {
	font-weight: 700;
}

/* Calendar Styling */

.calendar_navigator .navigation_title_text {
	color: var(--ic-link-color);
	text-decoration: none;
	text-transform: uppercase;
}

#minical .fc-toolbar h2, #minical .fc-toolbar .h2 {
	color: var(--ic-link-color);
}

#right-side .element_toggler {
	color: #f3b81e;
	font-family: "Mont Bold";
}

/* Inbox Styling */

.message-list .subject, .message-header h2.subject {
	color: var(--ic-link-color);
}

.message-list .message-count {
	background-color: var(--ic-brand-global-nav-menu-item__badge-bgd);
}

ul.message-attachments a {
	color: var(--ic-brand-button--primary-bgd);
}

.message-list .star-btn.active {
	color: #f3b91e;
	text-shadow: 0 0 1px #f3b91e;
}

/* Module Styling */
#context_modules .ig-header {
	background-image: linear-gradient( to left, rgb(22, 150, 236), rgb(21, 72, 224) );
	background-size: cover;
}

#context_modules .ig-header .name {
	color: #fff;
	text-shadow: none;
}

#context_modules .ig-header .ig-header-admin, .ig-header .sortable-handle.reorder_module_link i, .context_module_item .type_icon i {
	color: #fff !important;
}

#context_modules .item-group-condensed .ig-header, #context_modules .ig-header .Button--icon-action, .Button--icon-action-rev, #context_modules .ig-header .publish-icon, #context_modules .item-group-condensed .ig-header .ig-list .icon-drag-handle {
	color: #fff !important;
}

.ig-header .ig-header-title {
	font-size: 1em;
}

.ui-tabs .ui-tabs-panel, .ui-tabs .ui-tabs-nav li.ui-tabs-active, .ui-tabs .ui-tabs-nav li.ui-tabs-active.ui-state-hover, .ui-tabs .ui-tabs-nav li.ui-tabs-active:hover {
	border-color: #f2b81d;
}

.ui-tabs .ui-tabs-nav, .ic-Table td, .ic-Table th {
	border-bottom-color: #f2b81d;
}

.progress-bar__bar-container {
	border: 1px solid #f2b81d;
}

.progress-bar__bar {
	background:rgb(22, 150, 236);
	background-image: linear-gradient(to left, rgb(22, 150, 236), rgb(21, 72, 224));
}

i.icon-hamburger {
	color: #1548E0;
}

/* Footer Details */
footer#footer {
	display: none;
}

#upskilled-footer {
	font-size: 12px;
	line-height: 20px;
	margin-top: 95px;
	padding-left: 24px;
	position: relative;
	display: block;
	box-sizing: inherit;
}

#upskilled-footer .ic-app-footer__links a {
	color: #aaaab4;
	font-size: 12px;
	margin: 0px;
	display: inline;
}

/* Loree Custom CSS */

 dfn {
	font-style: italic;
}

 strong {
	font-weight: bolder;
}

 img {
	vertical-align: middle;
	border-style: none;
}

 table {
	border-collapse: collapse;
}

 caption {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	color: #6c757d;
	text-align: left;
	caption-side: bottom;
}

 th {
	text-align: inherit;
}

 button {
	border-radius: 0;
}

 button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

 button, input {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

 button, input {
	overflow: visible;
}

 button {
	text-transform: none;
}

 [type=reset], [type=submit], button, html [type=button] {
	-webkit-appearance: button;
}

 [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

 input[type=checkbox], input[type=radio] {
	box-sizing: border-box;
	padding: 0;
}

 input[type=date], input[type=datetime-local], input[type=month], input[type=time] {
	-webkit-appearance: listbox;
}

 legend {
	display: block;
	width: 100%;
	max-width: 100%;
	padding: 0;
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
	line-height: inherit;
	color: inherit;
	white-space: normal;
}

 [type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
	height: auto;
}

 [type=search] {
	outline-offset: -2px;
	-webkit-appearance: none;
}

 [type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
	-webkit-appearance: none;
}

 ::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button;
}

 [hidden] {
	display: none !important;
}

.img-fluid {
	max-width: 100% !important;
	height: auto !important;
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.col-12,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12 {
	position: relative;
	width: 100%;
	/*min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;*/
	/* this allows the users to change the padding for section blocks*/
}

.col-12 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

@media (max-width: 575px) {
	.col-xs-1 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}

	.col-xs-2 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}

	.col-xs-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-xs-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}

	.col-xs-5 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}

	.col-xs-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-xs-7 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}

	.col-xs-8 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}

	.col-xs-9 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}

	.col-xs-10 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}

	.col-xs-11 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%;
	}

	.col-xs-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

@media (min-width: 576px) {
	.col-sm-1 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}

	.col-sm-2 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}

	.col-sm-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-sm-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}

	.col-sm-5 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}

	.col-sm-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-sm-7 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}

	.col-sm-8 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}

	.col-sm-9 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}

	.col-sm-10 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}

	.col-sm-11 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%;
	}

	.col-sm-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

@media (min-width: 768px) {
	.col-md-1 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}

	.col-md-2 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}

	.col-md-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-md-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}

	.col-md-5 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}

	.col-md-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-md-7 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}

	.col-md-8 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}

	.col-md-9 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}

	.col-md-10 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}

	.col-md-11 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%;
	}

	.col-md-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

@media (min-width: 992px) {
	.col-lg-1 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}

	.col-lg-2 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}

	.col-lg-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-lg-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}

	.col-lg-5 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}

	.col-lg-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-lg-7 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}

	.col-lg-8 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}

	.col-lg-9 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}

	.col-lg-10 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}

	.col-lg-11 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%;
	}

	.col-lg-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

@media (min-width: 1200px) {
	.col-xl-1 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}

	.col-xl-2 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}

	.col-xl-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-xl-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}

	.col-xl-5 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}

	.col-xl-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-xl-7 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}

	.col-xl-8 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}

	.col-xl-9 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}

	.col-xl-10 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}

	.col-xl-11 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%;
	}

	.col-xl-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

 .table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 1rem;
	background-color: #fff;
}

 .table td, .table th {
	padding: 0.75rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
	word-break: break-word;
}

 .table .table {
	background-color: #fff;
}

.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}


@-webkit-keyframes progress-bar-stripes {
	from {
		background-position: 1rem 0;
	}

	to {
		background-position: 0 0;
	}
}

@keyframes progress-bar-stripes {
	from {
		background-position: 1rem 0;
	}

	to {
		background-position: 0 0;
	}
}

 .border {
	border: 1px solid #dee2e6 !important;
}

@media print {

	 *, ::after, ::before {
		text-shadow: none !important;
		box-shadow: none !important;
	}

	.img, .tr {
		page-break-inside: avoid;
	}

	.p {
		orphans: 3;
		widows: 3;
	}

	@page {
		size: a3;
	}

	.body {
		min-width: 992px !important;
		word-break: break-all !important;
	}

	.table {
		border-collapse: collapse !important;
	}

	.table td, .table th {
		background-color: #fff !important;
	}
}

.backgroundImageCustomclass {
	position: absolute;
	pointer-events: none;
	z-index: -1;
	margin: 0px;
	padding: 0px;
	object-fit: cover;
	overflow: hidden;
}

.bg-img{
	background-image : url ('https://loree.io/wp-content/uploads/2019/06/Loree_Logo_Final.png');
}

/* .ui-icon {
	display: none !important;
} */

* {
	box-sizing: border-box;
}

input { 
	box-sizing: content-box; 
}

.bStyle {
	font-weight: bold !important;
}

.normalStyle{
	font-weight: normal !important;
}