/* Global nav links */
#header #menu .menu-item__text {
	font-family: 'Mont Regular';
	font-weight: 400;
}

/* Colour for selected course nav link */
.list-view a.active {
	color: #2c2c36;
	border-left: 2px solid #2c2c36;
}

/* Modules / Contents */
#context_modules.ig-list .ig-title {
	font-weight: normal;
}